{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'membership/css/membership.css' %}">
{% endblock %}


{% block page_header %}
<!-- Profile tab links -->
<div class="tab-container">
    <ul class="nav nav-tab justify-content-evenly" id="profileTab" role="tablist">
        <li class="nav-item" role="presentation">
            <form action="{% url 'profile_details' %}">
                <input type="submit" value="MY PROFILE" class="nav-link gig-tab active" id="my_profile_tab"
                    data-bs-toggle="tab" data-bs-target="#my_profile" type="tab-button" role="tab" />
            </form>
        </li>
        {% if user_subscription != None %}
        <li class="nav-item" role="presentation">
            <form action="{% url 'my_gigs' %}">
                <input type="submit" value="MY GIGS" class="nav-link gig-tab" id="my_gig_tab" data-bs-toggle="tab"
                    data-bs-target="#my_gig" type="tab-button" role="tab" />
            </form>
        </li>
        <li class="nav-item" role="presentation">
            <form action="{% url 'my_contacts' %}">
                <input type="submit" value="MY CONTACTS" class="nav-link gig-tab" id="my_contacts_tab"
                    data-bs-toggle="tab" data-bs-target="#my_contacts" type="tab-button" role="tab" />
            </form>
        </li>
        {% else %}

        {% endif %}

        <li class="nav-item" role="presentation">
            <form action="{% url 'membership_profile' %}">
                <input type="submit" value="MEMBERSHIP" class="nav-link gig-tab" id="membership_profile_tab"
                    data-bs-toggle="tab" data-bs-target="#membership_profile" type="tab-button" role="tab" />
            </form>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane show active" id="my_profile" role="tabpanel" aria-labelledby="my_profile_tab"></div>
        {% if object.membership_type != 'Premium' %}
        {% if object.membership_type != current_membership %}
        <div class="tab-pane" id="my_gig" role="tabpanel" aria-labelledby="my_gig_tab"></div>
        <div class="tab-pane" id="my_contacts" role="tabpanel" aria-labelledby="my_contacts_tab"></div>

        {% else %}
        {% endif %}
        {% endif %}

        <div class="tab-pane" id="membership_profile" role="tabpanel" aria-labelledby="membership_profile_tab"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="container-fluid">
    <br>
    <div class="row">

        <!-- Membership Cards -->
        <div class="col-sm-10 col-sx-12 mx-auto">
            <div class="card">
                <div class="card-body">

                    <!-- Upgrade Membership -->

                    <div class="col-12">
                        <h3 class="text-center"><strong>UPGRADE YOUR MEMBERSHIP</strong></h3>
                        <h6 class="text-center">If you like to get more out of your membership 
                            then upgrade to Premium.</h6>

                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="monthly">
                                <div class="row py-3">

                                    <div class="col-md-6 mb-md-0 p-2">
                                        <div class="card card-mem text-center h-100">
                                            <div class="card-body card-member text-center d-flex flex-column">
                                                <div class="mb-4">
                                                    <h4>FREE <br> ACCESS</h4>
                                                    <br>
                                                    <span class="display-4">€0</span>
                                                    <span>/fee</span>

                                                </div>
                                                <h5 class="mb-3">Includes:</h5>
                                                <ul class="list-unstyled pb-5">
                                                    <li class="mb-1">
                                                        User profile
                                                    </li>
                                                    <li class="mb-1">
                                                        View jobs
                                                    </li>
                                                    <li class="mb-1">
                                                        View other profile
                                                    </li>
                                                </ul>
                                                <br>
                                                <br>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 mb-md-0 p-2">
                                        <div class="card card-mem text-center h-100">
                                            <div class="card-body text-center d-flex flex-column">
                                                <div class="mb-4">
                                                    <h4>PREMIUM <br> ACCESS</h4>
                                                    <br>
                                                    <span class="display-4">€95</span>
                                                    <span>/fee</span>
                                                </div>
                                                <h5 class="mb-3">Includes:</h5>
                                                <ul class="list-unstyled pb-5">
                                                    <li class="mb-1">
                                                        User profile
                                                    </li>
                                                    <li class="mb-1">
                                                        View jobs
                                                    </li>
                                                    <li class="mb-1">
                                                        View other profile
                                                    </li>
                                                    <li class="mb-1">
                                                        Create gigs
                                                    </li>
                                                    <li class="mb-1">
                                                        Create a network
                                                    </li>
                                                </ul>
                                                    {% for object in object_list %}
                                                        {% if object.membership_type != 'Free' %}
                                                        <form method="POST" action="{% url 'select' %}">
                                                            {% csrf_token %}
                                                            {% if object.membership_type != current_membership %}
                                                            <button class="btn" id="checkout-button" >SELECT</button>
                                                            {% else %}
                                                            <strong><small style="color:crimson">You have this membership! {{ object.current_membership }}</small></strong>
                                                            {% endif %}
                                                            <input type="hidden" name="membership_type" value="{{ object.membership_type }}">
                                                        </form>
                                                        {% endif %}
                                                    {% endfor %}
                                        
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <hr>

                        <!-- Questions -->

                        <div class="text-center my-4">
                            <h2>Frequently asked questions</h2>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-md-5 col-sm-6 mt-3 ml-auto">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="h6 card-title">Do I need a credit card to sign up?</h5>
                                        <p class="mb-0">At the moment, the only payment method we offer
                                            is with credit cards or with a debit card.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 col-sm-6 mt-3 mr-auto">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="h6 card-title">Do you offer a free trial?</h5>
                                        <p class="mb-0">No. Since we have the FREE plan that gives you axess to
                                            everything except the possibility to create your own job posts and
                                            a personal network.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 col-sm-6 mt-3 ml-auto">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="h6 card-title">What if I decide to cancel my plan?</h5>
                                        <p class="mb-0">If you wish to cancel your subscription, you just go to your
                                            membership and choose the free plan.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 col-sm-6 mt-3 mr-auto">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="h6 card-title">Can I cancel at anytime?</h5>
                                        <p class="mb-0">Yes, you can at anytime cancel you subscription.
                                            Note though that you will still be charged the full amount for
                                            the current month.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 col-sm-6 mt-3 ml-auto">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="h6 card-title">What if I like to upgrade my plan?</h5>
                                        <p class="mb-0">If you wish to downgrade, you just click
                                            on the new payment plan you wish to have under your membership
                                            tag in settings. The new payment plan will be applied in a few minutes.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 col-sm-6 mt-3 ml-auto">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="h6 card-title">What if I like to downgrade my plan?</h5>
                                        <p class="mb-0">If you wish to downgrade, you just click
                                            on the new payment plan you wish to have under your membership
                                            tag in settings. The new payment plan will be applied in a few minutes.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>

            </div>
            <br>
            <br>
        </div>
        <br>
        <br>
        <br>
    </div>
    {% endblock %}


        <!--<div class="row">
            {% for object in object_list %}
            <div class="col-4">

                <h3>{{object.membership_type}}<br> ACCESS</h3>

                <p>Price: €{{ object.price }}</p>
                <br>


                {% if object.membership_type != 'Free' %}
                <form method="POST" action="{% url 'select' %}">
                    {% csrf_token %}
                    {% if object.membership_type != current_membership %}

                    <button href="{url 'payment'}" class="btn-warning">Select</button>
                    <br>
                    {% else %}
                    <small>This is your currrent membership: {{ object.current_membership }}</small>
                    <br>
                    {% endif %}
                    <input type="hidden" name="membership_type" value="{{ object.membership_type }}">
                </form>
                {% endif %}
            </div>
            {% endfor %}
        </div>-->
