{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'membership/css/membership.css' %}">
{% endblock %}

{% block scripts %}
<script src="{% static 'membership/js/membership.js' %}" defer></script>
{% endblock scripts %}

{% block page_header %}
<!-- Profile tab links -->
<div class="tab-container">
    <ul class="nav nav-tab justify-content-evenly" id="profileTab" role="tablist">
        <li class="nav-item" role="presentation">
            <form action="{% url 'profile_details' %}">
                <input type="submit" value="MY PROFILE" class="nav-link gig-tab active" id="my_profile_tab"
                    data-bs-toggle="tab" data-bs-target="#my_profile" type="tab-button" role="tab" />
            </form>
        </li>
        <li class="nav-item" role="presentation">
            <form action="{% url 'my_gigs' %}">
                <input type="submit" value="MY GIGS" class="nav-link gig-tab" id="my_gig_tab" data-bs-toggle="tab"
                    data-bs-target="#my_gig" type="tab-button" role="tab" />
            </form>
        </li>
        <li class="nav-item" role="presentation">
            <form action="{% url 'my_contacts' %}">
                <input type="submit" value="MY CONTACTS" class="nav-link gig-tab" id="my_contacts_tab"
                    data-bs-toggle="tab" data-bs-target="#my_contacts" type="tab-button" role="tab" />
            </form>
        </li>
        <li class="nav-item" role="presentation">
            <form action="{% url 'membership_profile' %}">
                <input type="submit" value="MEMBERSHIP" class="nav-link gig-tab" id="membership_profile_tab"
                    data-bs-toggle="tab" data-bs-target="#membership_profile" type="tab-button" role="tab" />
            </form>
        </li>

    </ul>
    <div class="tab-content">
        <div class="tab-pane show active" id="my_profile" role="tabpanel" aria-labelledby="my_profile_tab"></div>
        <div class="tab-pane" id="my_gig" role="tabpanel" aria-labelledby="my_gig_tab"></div>
        <div class="tab-pane" id="my_contacts" role="tabpanel" aria-labelledby="my_contacts_tab"></div>
        <div class="tab-pane" id="membership_profile" role="tabpanel" aria-labelledby="membership_profile_tab"></div>

    </div>
</div>
{% endblock %}


{% block content %}



<div class="container-fluid">
    <br>
    <div class="row">

        <!-- Membership Cards -->
        <div class="col-sm-10 col-sx-12 mx-auto">
            <div class="card">
                <div class="card-body">


                    <!-- Upgrade Membership -->

<h3>My Membership</h3>

 
                </div>
            </div>
            <br>

        </div>
        <br>
        <br>
    </div>
    <br>
    <br>
    <br>
</div>
<script>
    /*
        document.addEventListener('DOMContentLoaded', async () => {
      let searchParams = new URLSearchParams(window.location.search);
      if (searchParams.has('session_id')) {
        const session_id = searchParams.get('session_id');
        document.getElementById('session-id').setAttribute('value', session_id);
      }
    });
    */
</script>

{% endblock %}


                                             <!--<form action="#" method="POST"> {% url 'create-checkout-session' %}
                                                <input type="hidden" id="freePrice" name="lookup_key"
                                                value="{{PRICE_ID_1}}" />
                                                <button class="btn" id="submitBtn" type="submit">Subscribe</button>
                                            </form>-->

                                            <!--<form action="#" method="POST"> {% url 'create-checkout-session' %}
                                                <input type="hidden" id="basicPrice" name="lookup_key"
                                                value="{{PRICE_ID_2}}" />
                                                <button class="btn" id="submitBtn" type="submit">Subscribe</button>
                                            </form>-->

                                            <!--<form action="#" method="POST"> {% url 'create-checkout-session' %}
                                                <input type="hidden" id="proPrice" name="lookup_key"
                                                    value="{{PRICE_ID_3}}" />
                                                <button class="pushable btn-grad text-center sm" id="submitBtn" type="submit">
                                                    <span class="front">
                                                        Subscribe
                                                    </span>
                                                </button>
                                            </form>-->