{% extends "base.html" %}
{% load static %}


{% block page_header %}

<!-- Nav tabs -->

<div class="tab-container">
    <ul class="nav nav-tab justify-content-evenly" id="profileTab" role="tablist">
        <li class="nav-item" role="presentation">
            <form action="{% url 'subscriptions' %}">
                <input type="submit" value="Subscriptions" class="nav-link gig-tab" id="subscriptions_tab"
                    data-bs-toggle="tab" data-bs-target="#subscriptions" type="tab-button" role="tab" />
            </form>
        </li>
        <li class="nav-item" role="presentation">
            <form action="{% url 'my_subscription' %}">
                <div class="tab-pane active" id="my_subscription" role="tabpanel" aria-labelledby="my_subscription_tab">
                </div>
                <input type="submit" value="My Subscription" class="nav-link gig-tab active" id="my_subscription_tab"
                    data-bs-toggle="tab" data-bs-target="#my_subscription" type="tab-button" role="tab" />
            </form>
        </li>
        <li class="nav-item" role="presentation">
            <form action="{% url 'payment_histrory' %}">
                <input type="submit" value="Payment History" class="nav-link gig-tab" id="payment_histrory_tab"
                    data-bs-toggle="tab" data-bs-target="#payment_histrory" type="tab-button" role="tab" />
            </form>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane" id="subscriptions" role="tabpanel" aria-labelledby="subscriptions_tab"></div>
        <div class="tab-pane active" id="my_subscription" role="tabpanel" aria-labelledby="my_subscription_tab"></div>
        <div class="tab-pane" id="payment_histrory" role="tabpanel" aria-labelledby="payment_histrory_tab"></div>
    </div>
</div>

{% endblock %}

{% block content %}

<style>
    .profile-card {
        width: 140px;
        border-radius: 1px;
    }

    .card-link,
    .btn {
        color: white;
        border-color: rgba(96, 185, 236, 0.2);
        background-color: rgba(9, 143, 221, 0.9) !important;
        font-size: medium !important;
        height: 40px;
        font-weight: bolder;
        padding-right: 15px;
        border-radius: 1px;
        padding-left: 15px;
        text-decoration: none;
        box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -moz-box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .btn:hover,
    .btn:active,
    .btn:focus {
        color: white;
        border-color: rgba(96, 185, 236, 0.2);
        background-color: rgba(4, 102, 168, 0.9) !important;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    }

    /*
    .card-header {
        background-color: white;
    }

    .card-title {
        font-size: large;
        font-weight: bolder;
        padding: auto;
        color: rgba(9, 143, 221, 0.9);
    }


    .gig-text {
        font-size: medium;
        color: rgb(5, 5, 5);
    }

    
.card-body {
        padding: 20px;
    }
*/
    label {
        display: none;
    }
</style>

<div class="container-fluid">
    <br>
    <div class="row">

        <div class="col-sm-10 col-sx-12 mx-auto">
            <div class="card">
                <div class=" card-body">
                    <br>
                    <br>
                    <h3 class="h3 mb-3 text-center">My Subscription</h3>

                    <section>
                        <div class="product">
                            <!--<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                width="14px" height="16px" viewBox="0 0 14 16" version="1.1">
                                <defs />
                                <g id="Flow" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="0-Default" transform="translate(-121.000000, -40.000000)" fill="#E184DF">
                                        <path
                                            d="M127,50 L126,50 C123.238576,50 121,47.7614237 121,45 C121,42.2385763 123.238576,40 126,40 L135,40 L135,56 L133,56 L133,42 L129,42 L129,56 L127,56 L127,50 Z M127,48 L127,42 L126,42 C124.343146,42 123,43.3431458 123,45 C123,46.6568542 124.343146,48 126,48 L127,48 Z"
                                            id="Pilcrow" />
                                    </g>
                                </g>-->
                            </svg>
                            <div class="description">
                                <h3>Basic plan</h3>
                                <h5>$10.00 / month</h5>
                            </div>
                        </div>
                        <form action="/create-checkout-session" method="POST">
                            <input type="hidden" name="lookup_key"
                                value="// TODO: {{PRICE_LOOKUP_KEY}} replace with `price.lookup_key`" />
                            <button id="checkout-and-portal-button" type="submit">Checkout</button>
                        </form>
                    </section>

                </div>
                <br>
                <br>
            </div>
            <br>
            <br>
        </div>
    </div>
</div>
{% endblock %}