{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profileusers/css/profile.css' %}">
{% endblock %}


{% block page_header %}

<!-- Nav tabs -->

<div class="tab-container">
    <ul class="nav nav-tab justify-content-evenly" id="profileTab" role="tablist">
        <li class="nav-item" role="presentation">
            <form action="{% url 'all_profiles' %}">
                <input type="submit" value="New Contact" class="nav-link gig-tab" id="network_tab" data-bs-toggle="tab"
                    data-bs-target="#network" type="tab-button" role="tab" />
            </form>
        </li>
        <!--<li class="nav-item" role="presentation">
            <form action="{% url 'contacts' %}">
                <input type="submit" value="Saved Contacts" class="nav-link gig-tab" id="contacts_tab"
                    data-bs-toggle="tab" data-bs-target="#contacts" type="tab-button" role="tab" />
            </form>
        </li>-->
        <li class="nav-item" role="presentation">
            <form action="{% url 'my_followers' %}">
                <div class="tab-pane active" id="my_followers" role="tabpanel" aria-labelledby="my_followers_tab"></div>
                <input type="submit" value="My Followers" class="nav-link gig-tab active" id="my_followers_tab"
                    data-bs-toggle="tab" data-bs-target="#my_followers" type="tab-button" role="tab" />
            </form>
        </li>
        <li class="nav-item" role="presentation">
            <form action="{% url 'following_ppl' %}">
                <input type="submit" value="Following " class="nav-link gig-tab" id="following_ppl_tab"
                    data-bs-toggle="tab" data-bs-target="#following_ppl" type="tab-button" role="tab" />
            </form>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane" id="netwoork" role="tabpanel" aria-labelledby="network_tab"></div>
        <!--<div class="tab-pane" id="contacts" role="tabpanel" aria-labelledby="contacts_tab"></div>-->
        <div class="tab-pane active" id="my_followers" role="tabpanel" aria-labelledby="my_followers_tab"></div>
        <div class="tab-pane" id="following_ppl" role="tabpanel" aria-labelledby="following_ppl_tab"></div>
    </div>
</div>

{% endblock %}

{% block content %}

<style>

    .profile-card {
        width: 140px;
        border-radius: 1px;
    }
    .card-link {
        color: white;
        border-color: rgba(96, 185, 236, 0.2);
        background-color: rgba(9, 143, 221, 0.9) !important;
        font-size: small !important;
        height: 45px;
        font-weight: bold;
        padding-right: 5px;
        border-radius: 1px;
        padding-left: 5px;
        text-decoration: none;
        box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -moz-box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .card-link:hover,
    .card-link:active,
    .card-link:focus {
        color: white;
        border-color: rgba(96, 185, 236, 0.2);
        background-color: rgba(4, 102, 168, 0.9) !important;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    }

    /*
    .card-header {
        background-color: white;
    }

    .card-title {
        font-size: large;
        font-weight: bolder;
        padding: auto;
        color: rgba(9, 143, 221, 0.9);
    }


    .gig-text {
        font-size: medium;
        color: rgb(5, 5, 5);
    }

    
.card-body {
        padding: 20px;
    }
*/
    label {
        display: none;
    }
</style>

<div class="container-fluid">
    <br>

    <!-- Userprofile cards -->
    <div class="row">
        <div class="d-flex align-content-stretch flex-wrap">

            {% for profileuser in profileusers %}
            {% csrf_token %}
            <div class="card profile-card col-xs-6 col-sm-3 col-md-3 ms-1 border-secondary my-1">
                <img class="card-img-top img-fluid text-center profile-pic" max-width="180px"
                    src="{{profileuser.picture.url }}" alt="Card image cap">

                <!-- Card Body -->
                <div class="card-body text-center">
                    <!-- User Name -->
                    <div class="col-12 text-center">
                        <a class=" card-title text-center" href="{% url 'profile_details' %}">
                            <p class="text-center"><strong>{{ profileuser.first_name}} {{ profileuser.last_name}}</strong>
                            </p>
                        </a>
                    </div>
                    <p class="card-subtitle mb-3 text-center text-muted small">
                        {{ profileuser.profession }} at {{ profileuser.company_name}}
                    </p>
                    <p class=" card-subtitle mb-0 text-center text-muted small">
                        {{ profileuser.city }}, {{ profileuser.country.name }}
                    </p>
                    
                </div>

                <!-- Card Footer Button-->
                <div class="text-center card-footer">
                    <a href="#" class="card-link">Add</a>
                    <a href="#" class="card-link">Hide</a>
                </div>

            </div>

            {% endfor %}
            <br>
        </div>
        <br>
        <br>
    </div>
    <br>
    <br>
</div>
{% endblock %}