{% extends "base.html" %}
{% load static %}


{% block page_header %}

<div class="tab-container">
    <ul class="nav nav-tab justify-content-evenly" id="profileTab" role="tablist">
        <li class="nav-item" role="presentation">
            <form action="{% url 'network' %}">
                <input type="submit" value="New Contact" class="nav-link gig-tab" id="network_tab"
                    data-bs-toggle="tab" data-bs-target="#neetwork" type="tab-button" role="tab" />
            </form>
        </li>
        <li class="nav-item" role="presentation">
            <form action="{% url 'contacts' %}">
                <input type="submit" value="Saved Contacts" class="nav-link gig-tab" id="contacts_tab"
                    data-bs-toggle="tab" data-bs-target="#contacts" type="tab-button" role="tab" />
            </form>
        </li>
        <li class="nav-item" role="presentation">
            <form action="{% url 'my_followers' %}">
        <div class="tab-pane active" id="my_followers" role="tabpanel" aria-labelledby="my_followers_tab"></div>
                <input type="submit" value="My Followers" class="nav-link gig-tab active" id="my_followers_tab"
                    data-bs-toggle="tab" data-bs-target="#my_followers" type="tab-button" role="tab" />
            </form>
        </li>
        <li class="nav-item" role="presentation">
            <form action="{% url 'following_ppl' %}">
                <input type="submit" value="Following " class="nav-link gig-tab" id="following_ppl_tab"
                    data-bs-toggle="tab" data-bs-target="#following_ppl" type="tab-button" role="tab" />
            </form>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane" id="netwoork" role="tabpanel" aria-labelledby="network_tab"></div>
        <div class="tab-pane" id="contacts" role="tabpanel" aria-labelledby="contacts_tab"></div>
        <div class="tab-pane active" id="my_followers" role="tabpanel" aria-labelledby="my_followers_tab"></div>
        <div class="tab-pane" id="following_ppl" role="tabpanel" aria-labelledby="following_ppl_tab"></div>
    </div>
</div>

{% endblock %}

{% block content %}
<div class="container-content">

    <h2>
        Following
    </h2>

    <!-- Contact suggestions -->
    <div class="col-10">
        <p> {{profile.get_proposal_contact}}</p>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#myProfileModal">
            Contact Suggestions
        </button>

        <!-- Modal -->
        <div class="modal fade" id="myProfileModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel"> Follow: </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">

                        </button>
                    </div>
                    <div class="modal-body" id="to-follow-modal">
                        <div class="text-center" id="spinner-box">
                            <div class="spinner-border" role="status"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <br>
    <br>

    <!-- Following -->
    <div class="card" style="max-width: 840px;">

        <!-- Edit and Delete button -->
        <div align="right">
            <a href="{% url 'profile_edit' %}" class="btn btn-secondary btn-sm" tabindex="-1" role="button"
                aria-disabled="true">Edit</a>
            <a href="#" class="btn btn-secondary btn-sm text-align-right" tabindex="-1" role="button"
                aria-disabled="true">Delete</a>
        </div>
        <br>
        <div class="card-body">
            <div class="col-12">

                <div class="row g-0">
                    <div class="col-12">

                        <!-- Followings -->
                        <div class="col">
                            <div>
                                <div class="row justify-content-between">
                                    <div class="col-9">
                                        <p><b>Following profiles:</b></p>
                                        <p> {{ profile.get_followings_contact }}</p>
                                    </div>
                                    <div class="col-3">
                                        <p class="text-center"><b>Number of Followings:</b></p>
                                        <p class="text-center"> {{ profile.following_count }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>


{% endblock %}