{% extends "account/base.html" %}
{% load i18n %}


{% block page_header %}
<!-- Profile tab links -->
<div class="tab-container">
    <ul class="nav nav-tab justify-content-evenly" id="profileTab" role="tablist">
        <li class="nav-item" role="presentation">
            <form action="{% url 'profile_details' %}">
                <input type="submit" value="MY PROFILE" class="nav-link gig-tab active" id="my_profile_tab"
                    data-bs-toggle="tab" data-bs-target="#my_profile" type="tab-button" role="tab" />
            </form>
        </li>
        <li class="nav-item" role="presentation">
            <form action="{% url 'profile_edit' %}">
                <input type="submit" value="EDIT PROFILE" class="nav-link gig-tab" id="edit_profile_tab"
                    data-bs-toggle="tab" data-bs-target="#edit_profile" type="tab-button" role="tab" />
            </form>
        </li>
        <li class="nav-item" role="presentation">
            <form action="{% url 'my_contacts' %}">
                <input type="submit" value="MY CONTACTS" class="nav-link gig-tab" id="my_contacts_tab"
                    data-bs-toggle="tab" data-bs-target="#my_contacts" type="tab-button" role="tab" />
            </form>
        </li>
        <li class="nav-item" role="presentation">
            <form action="{% url 'my_gigs' %}">
                <input type="submit" value="MY GIGS" class="nav-link gig-tab" id="my_gig_tab" data-bs-toggle="tab"
                    data-bs-target="#my_gig" type="tab-button" role="tab" />
            </form>
        </li>
        <li class="nav-item" role="presentation">
            <form action="{% url 'create_gig' %}">
                <input type="submit" value="CREATE GIG" class="nav-link gig-tab" id="create_gig_tab"
                    data-bs-toggle="tab" data-bs-target="#create_gig" type="tab-button" role="tab" />
            </form>
        </li>
        
    </ul>
    <div class="tab-content">
        <div class="tab-pane show active" id="my_profile" role="tabpanel" aria-labelledby="my_profile_tab"></div>

        <div class="tab-pane" id="edit_profile" role="tabpanel" aria-labelledby="edit_profile_tab"></div>

        <div class="tab-pane" id="my_contacts" role="tabpanel" aria-labelledby="my_contacts_tab"></div>

        <div class="tab-pane" id="my_gig" role="tabpanel" aria-labelledby="my_gig_tab"></div>

        <div class="tab-pane" id="create_gig" role="tabpanel" aria-labelledby="create_gig_tab"></div>

    </div>
</div>
{% endblock %}


{% block content %}
{% if user.is_authenticated %}

<style>
    #justify-center {
    margin: auto;
    width: 70%;
    padding: 15px;
    border: none !important;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .errorlist {
  display: none !important;
  }
  label {
    display: none;
  }
  p {
  height: 25px;
  }
  
  #id_login,
  #id_password,
  .primaryAction {
    width: 70%;
    height: 30px;
    margin: 2%;
    /* text-transform: uppercase; */
    text-align: center;
  }
  #id_remember {
    display: none;
  }
  .primaryAction {
    width: 70%;
    height: 30px;
    margin: 2%;
    text-transform: uppercase;
    text-align: center;
  }
  
  .user_card {
    width: 70%;
    margin-top: auto;
    margin-bottom: auto;
    background: #ffffff;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .form_container {
    margin-top: 30px;
    width: 100%;
    align-items: center;
  }
  #form-title {
    color: #fff;
  }
  .login_btn {
    width: 100%;
    background: rgba(141, 133, 133, 0.7) !important;
    color: white !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    font-weight: bold;
  }
  .login_btn:focus {
    box-shadow: none !important; 
    outline: 0px !important;
  }
  .login_container {
    padding: 0 2rem;
  }
  .input-group-text {
    background: #f7ba5b !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
  }
  .input_user,
  .input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
  }
  #messages {
    background-color: grey;
    color: #fff;
    padding: 10px;
    margin-top: 10px;
  }
  </style>
  <div class="container" id="justify-center">
  
    <!-- Logo -->
    <div id="justify-center">
      <div class="col-6 col-lg-4" id="justify-center">
        <a href="{% url 'home' %}" class="nav-link main-logo-link">
          <img
            src="https://static.wixstatic.com/media/e64c63_b290d859fd03448bad1976ef606f894e~mv2.png/v1/fill/w_378,h_88,al_c,lg_1,q_85/Ska%CC%88rmavbild%202021-05-23%20kl_%2020_40_47.webp"
            alt="" width="210" height="50" class="logo img-fluid">
        </a>
      </div>
    </div>
    <br>
  
    <div class="user_card" id="justify-center">
      <div class="d-flex form_container" id="justify-center">

                <form method="POST" action="">
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" name="username" placeholder="Username..." class="form-control">
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                            <input type="password" name="password" placeholder="Password..." class="form-control" >
                    </div>

                        <div class="d-flex justify-content-center mt-3 login_container">
                             <input class="btn login_btn" type="submit" value="Login">
                           </div>
                </form>

            </div>
            <br>
        
        
        
            <!-- Account Register and Signin links-->
            <div class="mt-4 row justify-content-center">
              <div class="d-flex links">
                <p>Not registered? <a href="{% url 'account_signup' %}" class="ml-2">Create Account</a></p>
              </div>
            </div>
        
          </div>
          <br>
        </div>

{% endif %}

{% endblock %}