{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profileusers/css/profile.css' %}">
{% endblock %}

{% block scripts %}
<!--<script src="{% static 'profileusers/js/my_profile.js' %}" defer></script>-->
{% endblock scripts %}


{% block page_header %}
<!-- Profile tab links -->
<div class="tab-container">
    <ul class="nav nav-tab justify-content-evenly" id="profileTab" role="tablist">
        <li class="nav-item" role="presentation">
            <form action="{% url 'profile_details' %}">
                <input type="submit" value="MY PROFILE" class="nav-link gig-tab" id="my_profile_tab"
                    data-bs-toggle="tab" data-bs-target="#my_profile" type="tab-button" role="tab" />
            </form>
        </li>
        <li class="nav-item" role="presentation">
            <form action="{% url 'profile_edit' %}">
                <input type="submit" value="EDIT PROFILE" class="nav-link gig-tab" id="edit_profile_tab"
                    data-bs-toggle="tab" data-bs-target="#edit_profile" type="tab-button" role="tab" />
            </form>
        </li>
        <li class="nav-item" role="presentation">
            <form action="{% url 'my_contacts' %}">
                <input type="submit" value="MY CONTACTS" class="nav-link gig-tab active" id="my_contacts_tab"
                    data-bs-toggle="tab" data-bs-target="#my_contacts" type="tab-button" role="tab" />
            </form>
        </li>
        <li class="nav-item" role="presentation">
            <form action="{% url 'my_gigs' %}">
                <input type="submit" value="MY GIGS" class="nav-link gig-tab" id="my_gig_tab" data-bs-toggle="tab"
                    data-bs-target="#my_gig" type="tab-button" role="tab" />
            </form>
        </li>
        <li class="nav-item" role="presentation">
            <form action="{% url 'create_gig' %}">
                <input type="submit" value="CREATE GIG" class="nav-link gig-tab" id="create_gig_tab"
                    data-bs-toggle="tab" data-bs-target="#create_gig" type="tab-button" role="tab" />
            </form>
        </li>

    </ul>
    <div class="tab-content">
        <div class="tab-pane show" id="my_profile" role="tabpanel" aria-labelledby="my_profile_tab"></div>

        <div class="tab-pane" id="edit_profile" role="tabpanel" aria-labelledby="edit_profile_tab"></div>

        <div class="tab-pane active" id="my_contacts" role="tabpanel" aria-labelledby="my_contacts_tab"></div>

        <div class="tab-pane" id="my_gig" role="tabpanel" aria-labelledby="my_gig_tab"></div>

        <div class="tab-pane" id="create_gig" role="tabpanel" aria-labelledby="create_gig_tab"></div>

    </div>
</div>
{% endblock %}


{% block content %}

<div class="container-profile justify-center">
    <div class="card">
        <div class="row">

            <!-- Contacts -->
            <div class="card-body">

                <!-- Contact suggestions -->
                <div class="col">
                    <div class="d-md-flex justify-content-md-end my-2">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary btn-sm" id="to-follow-btn" data-bs-toggle="modal"
                            data-bs-target="#myProfileModal">
                            Contact Suggestions
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="myProfileModal" tabindex="-1" aria-labelledby="myModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="myModalLabel"> Follow: </h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close">
                                        </button>
                                    </div>
                                    <div class="modal-body" id="to-follow-modal">
                                        <div class="text-center" id="spinner-box">
                                            <div class="spinner-border" role="status"></div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary"
                                            data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>

                <!-- Followings -->
                <div class="row">
                    <div class="col">
                        <div class="row justify-content-between">
                            <div class="col-9">
                                <p><b>Following profiles:</b></p>

                                {% for profileuser in profile.get_following %}
                                <p>{{ profileuser.first_name}} {{ profileuser.last_name}} {{ profileuser.company_name}}</p>
                                <br>
                                {% endfor %}
                            </div>
                            <div class="col-3">
                                <p class="text-center"><b>No:</b></p>
                                <p class="text-center"> {{ profile.following_count }}</p>
                            </div>
                        </div>
                    </div>
                </div>

                

            </div>
        </div>
    </div>
    <br>


    {% endblock %}

<!-- Followers -->
<div class="row">
    <div class="col">
        <div class="row justify-content-between">
            <div class="col-9">
                <p><b>Followers:</b></p>
                {% for profileuser in profile.get_followers %}
                <p> {{ profileuser.user.first_name}} {{ profileuser.user.last_name}}</p>
                {% endfor %}
                <br>
            </div>
            <div class="col-3">
                <p class="text-center"><b>No:</b></p>
                <p class="text-center"> {{profile.followers_count}}</p>
            </div>
        </div>
    </div>
</div>

    <!-- Followings posted gigs -->
    <div class="col">
        <div>
            <div class="col-10">
                <p><b>Contact gigs :</b></p>
                <p>{{profile.get_contact_gigs}}</p>
            </div>
        </div>
    </div>
    <br>