{% extends "base.html" %}
{% load static %}


{% block page_header %}

<!-- Profile tab links -->

<div class="tab-container">
    <ul class="nav nav-tab justify-content-evenly" id="profileTab" role="tablist">
        <li class="nav-item" role="presentation">
            <form action="{% url 'profile_details' %}">
                <input type="submit" value="MY PROFILE" class="nav-link gig-tab" id="my_profile_tab"
                    data-bs-toggle="tab" data-bs-target="#my_profile" type="tab-button" role="tab" />
            </form>
        </li>
        <li class="nav-item" role="presentation">
            <form action="{% url 'profile_edit' %}">
                <input type="submit" value="EDIT PROFILE" class="nav-link gig-tab" id="edit_profile_tab"
                    data-bs-toggle="tab" data-bs-target="#edit_profile" type="tab-button" role="tab" />
            </form>
        </li>
        <li class="nav-item" role="presentation">
            <form action="{% url 'my_contacts' %}">
                <input type="submit" value="MY CONTACTS" class="nav-link gig-tab" id="my_contacts_tab"
                    data-bs-toggle="tab" data-bs-target="#my_contacts" type="tab-button" role="tab" />
            </form>
        </li>
        <li class="nav-item" role="presentation">
            <form action="{% url 'my_gigs' %}">
                <input type="submit" value="MY GIGS" class="nav-link gig-tab" id="my_gig_tab" data-bs-toggle="tab"
                    data-bs-target="#my_gig" type="tab-button" role="tab" />
            </form>
        </li>
        <li class="nav-item" role="presentation">
            <form action="{% url 'create_gig' %}">
                <input type="submit" value="CREATE GIG" class="nav-link gig-tab active" id="create_gig_tab"
                    data-bs-toggle="tab" data-bs-target="#create_gig" type="tab-button" role="tab" />
            </form>
        </li>

    </ul>
    <div class="tab-content">
        <div class="tab-pane show" id="my_profile" role="tabpanel" aria-labelledby="my_profile_tab"></div>

        <div class="tab-pane" id="edit_profile" role="tabpanel" aria-labelledby="edit_profile_tab"></div>

        <div class="tab-pane" id="my_contacts" role="tabpanel" aria-labelledby="my_contacts_tab"></div>

        <div class="tab-pane" id="my_gig" role="tabpanel" aria-labelledby="my_gig_tab"></div>

        <div class="tab-pane active" id="create_gig" role="tabpanel" aria-labelledby="create_gig_tab"></div>

    </div>
</div>


{% endblock %}

{% block content %}

{% if user.is_authenticated %}


<div class="container-fluid">

    <div class="row">
        <div class="gig-container col-10 offset-1">
            <div class="row">
                {% for gig in profile.my_gigs %}
                <h6>My Gigs ({{ profile.num_gigs }}):</h6>

                <p src="#"></p>
                <!-- gig cards -->
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-5">
                    <div class="gig-card h-100 border-1">
                        <div class="card-body">
                            <h5 class="card-title text-center">{{ gig.title }}</h5><br>
                            <div>
                                <p class="card-subtitle mb-2 text-muted small""> Industry: &nbsp; {{ gig.industry }} </p>
                                <p class=" card-subtitle mb-2 text-muted small""> City: &nbsp; {{ gig.city }} </p>
                                <p class="card-subtitle mb-2 small""> Deadline: &nbsp; {{ gig.deadline }} </p>
                            </div>
                            <br>

                            <div class=" text-center">
                                <p>{{ gig.gigdescription }}</p>
                                <p>
                                    <a class=" btn btn-primary btn-sm text-center" data-toggle="collapse"
                                        href="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">
                                        More Information
                                    </a>
                                </p>
                            </div>

                            <div class="collapse" id="collapseExample1">
                                <div class="card card-body">
                                    {{ gig.extrainfo }}
                                </div>
                            </div>

                            <div class="my-3 py-3">
                                <h6 class="card-subtitle mb-2 text-muted small">Created by: &nbsp; {{ gig.author }}
                                </h6>
                                <h6 class="card-subtitle mb-2 text-muted small">{{ gig.created }} </h6>
                                <h6 class="card-subtitle mb-2 text-muted small"> Updated: &nbsp; {{ gig.updated }} </h6>
                            </div>

                            <div class="row align-items-end">
                                <div class="col justify-content-evenly text-center">

                                    <!-- Edit button -->
                                    <div class="d-grid gap-2 d-md-flex justify-content-center">
                                        <br>
                                        <form action="#">
                                            <input type="submit" value="EDIT GIG" class="btn btn-edit"
                                                id="edit_profile_tab" data-bs-toggle="tab"
                                                data-bs-target="#edit_profile" type="tab-button" role="tab" />
                                        </form>
                                    </div>
                                    <!-- Delete button -->
                                    <div class="d-grid gap-2 d-md-flex justify-content-center">
                                        <br>
                                        <form action="#">
                                            <input type="submit" value="DELETE GIG" class="btn btn-edit"
                                                id="edit_profile_tab" data-bs-toggle="tab"
                                                data-bs-target="#edit_profile" type="tab-button" role="tab" />
                                        </form>
                                    </div>


                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

</div>

{% endif %}

{% endblock %}


{% block postloadjs %}
{{ block.super }}
<script type=" text/javascript" src="{% static 'js/gig_script.js' %}"></script>
{% endblock %}