{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profileusers/css/profile.css' %}">
{% endblock %}

{% block scripts %}
<script href="{% static 'profileusers/js/my_profile.js' %}" defer></script>
{% endblock scripts %}

{% block page_header %}
<!-- Profile tabs -->

<ul class="nav nav-tabs justify-content-evenly">
    <li class="active"><a href="#profile" data-toggle="tab">My Profile</a></li>
    <li><a href="#edit-profile" data-toggle="tab">Edit Profile</a></li>
    <li><a href="#my-contacts" data-toggle="tab">My Contacts</a></li>
    <li><a href="#create-gig" data-toggle="tab">Create Gig</a></li>
    <li><a href="#my-gigs" data-toggle="tab">My Gigs</a></li>
</ul>

<div class="tab-content" id="tabs">
    <div class="tab-pane" id="new-gig">My Profile:</div>
    <div class="tab-pane active" id="edit-profile">Edit My Profile</div>
    <div class="tab-pane" id="my-contacts">My Contacts:</div>
    <div class="tab-pane" id="create-gig">Create new gig:</div>
    <div class="tab-pane" id="my-gigs">View My gigs</div>
</div>
{% endblock %}

{% block content %}

<div class="container">

    {% if user.is_authenticated %}

    <div class="card" style="max-width: 840px;">
        <div class="card-body" style="max-width: 740px;">

                <div class="col-12">

                    <!-- My gigs -->
                    <div class="col">
                        <div>
                            <div class="row justify-content-between">
                                <div class="col-9">
                                    <p><b>My Gigs:</b></p>
                                    <p>{{profile.get_my_gigs}}</p>
                                </div>
                                <div class="col-3">
                                    <p class="text-center"><b>Number of Gigs:</b></p>
                                    <p class="text-center"> {{profile.num_gigs}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>


                    <!-- Followings -->
                    <div class="col">
                        <div>
                            <div class="row justify-content-between">
                                <div class="col-9">
                                    <p><b>Following profiles:</b></p>
                                    <p> {{ profile.get_followings_contact }}</p>
                                </div>
                                <div class="col-3">
                                    <p class="text-center"><b>Number of Followings:</b></p>
                                    <p class="text-center"> {{ profile.following_count }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>

                    <!-- Followers -->
                    <div class="col">
                        <div>
                            <div class="row justify-content-between">
                                <div class="col-9">
                                    <p><b>Followers:</b><br> {{ profile.get_followers }}</p>
                                </div>
                                <div class="col-3">
                                    <p class="text-center"><b>Number of Followers:</b></p>
                                    <p class="text-center"> {{profile.followers_count}}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br>

                    <!-- Followings posted gigs -->
                    <div class="col">
                        <div>
                            <div class="col-10">
                                <p><b>Contact gigs :</b></p>
                                <p>{{profile.get_contact_gigs}}</p>
                            </div>
                        </div>
                    </div>
                    <br>

                    <!-- Contact suggestions -->
                    <div class="col">
                        <div>
                            <div class="col-10">
                                <p><b>Contact suggestions :</b></p>
                                <p> {{profile.get_proposal_contact}}</p>
                            </div>

                            <!-- Modal suggestions -->

                            <div>
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#myProfileModal">
                                    Contact Suggestions
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="myProfileModal" tabindex="-1" aria-labelledby="myModalLabel"
                                    aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="myModalLabel"> Follow: </h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close">

                                                </button>
                                            </div>
                                            <div class="modal-body" id="to-follow-modal">
                                                <div class="text-center" id="spinner-box">
                                                    <div class="spinner-border" role="status"></div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary"
                                                    data-bs-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

        </div>
    </div>
    {% else %}

</div>


{% endif %}

{% endblock %}