{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profileusers/css/profile.css' %}">
{% endblock %}

<!-- 
{% block scripts %}
<script href="{% static 'profileusers/js/my_profile.js' %}" defer></script>
{% endblock scripts %}
-->

{% block page_header %}
<!-- Profile tab links -->
<div class="tab-container">
    <ul class="nav nav-tab justify-content-evenly" id="profileTab" role="tablist">
        <li class="nav-item" role="presentation">
            <form action="{% url 'profile_details' %}">
                <input type="submit" value="MY PROFILE" class="nav-link gig-tab active" id="my_profile_tab"
                    data-bs-toggle="tab" data-bs-target="#my_profile" type="tab-button" role="tab" />
            </form>
        </li>
        {% if object.membership_type != 'Premium' %}
        {% if object.membership_type != current_membership %}

        <li class="nav-item" role="presentation">
            <form action="{% url 'my_gigs' %}">
                <input type="submit" value="MY GIGS" class="nav-link gig-tab" id="my_gig_tab" data-bs-toggle="tab"
                    data-bs-target="#my_gig" type="tab-button" role="tab" />
            </form>
        </li>
        <li class="nav-item" role="presentation">
            <form action="{% url 'my_contacts' %}">
                <input type="submit" value="MY CONTACTS" class="nav-link gig-tab" id="my_contacts_tab"
                    data-bs-toggle="tab" data-bs-target="#my_contacts" type="tab-button" role="tab" />
            </form>
        </li>
        {% else %}

        {% endif %}
        {% endif %}

        <li class="nav-item" role="presentation">
            <form action="{% url 'membership_profile' %}">
                <input type="submit" value="MEMBERSHIP" class="nav-link gig-tab" id="membership_profile_tab"
                    data-bs-toggle="tab" data-bs-target="#membership_profile" type="tab-button" role="tab" />
            </form>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane show active" id="my_profile" role="tabpanel" aria-labelledby="my_profile_tab"></div>
        {% if object.membership_type != 'Premium' %}
        {% if object.membership_type != current_membership %}
        <div class="tab-pane" id="my_gig" role="tabpanel" aria-labelledby="my_gig_tab"></div>
        <div class="tab-pane" id="my_contacts" role="tabpanel" aria-labelledby="my_contacts_tab"></div>

        {% else %}
        {% endif %}
        {% endif %}

        <div class="tab-pane" id="membership_profile" role="tabpanel" aria-labelledby="membership_profile_tab"></div>
    </div>
</div>
{% endblock %}

{% block content %}
{% if user.is_authenticated %}

<h2>Edit Profile</h2>

<div class="container-fluid" id="justify-center">

    <!-- Edit Profile -->
    <div class="card" id="justify-center" style="max-width: 840px;">

        <div class="card-body">
            <div class="col-12">

                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Profile Information</legend>
                        {{ form|crispy }}

                        <h2> {{user.profileuser.bio}} </h2>
                        <h2> {{user.profileuser.phone}} </h2>
                        <h2> {{user.profileuser.city}} </h2>
                        <h2> {{user.profileuser.country}} </h2>

                    </fieldset>
                    <br>
                    <div class="row justify-content-center">
                        <div class="col-3 text-center">
                            <button class="btn btn-primary" type="submit">Update</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <br>
    <br>

    <!-- Questions -->
<div class="questions">

    <!-- What is BizNet -->
    <div class="start-info">
      <p>
        <a class="btn btn-primary start-buttons" data-toggle="collapse" href="#collapsestart1" aria-expanded="false"
          aria-controls="collapsestart1">
          What is BizNet?
        </a>
      </p>
      <div class="collapse card-frame" style="max-width: 740px;" id="collapsestart1">
        <div class="card-start start-card-body">
          <p>
            At BizNet we believe in the power of strong and relevant professional networks. Your network is the most
            important
            asset to succeed with your business.
          </p>
          <p>
            Be the go-to place where small business owners build active and strong networks to generate new business
            opportunities and exchange experience.
          </p>
          <p>
            BizNet helps small business owners to find new business opportunities through a strong and relevant
            network,
            share
            experiences and stay social.
          </p>
        </div>
        <br>
      </div>
    </div>
  
    <!-- Who is BizNet -->
    <div class="start-info">
      <p>
        <a class="btn btn-primary start-buttons" data-toggle="collapse" href="#collapsestart2" aria-expanded="false"
          aria-controls="collapsestart2">
          Who is BizNet?
        </a>
      </p>
      <div class="collapse card-frame" style="max-width: 740px;" id="collapsestart2">
        <div class="card-start start-card-body">
          <br>
          <h6><strong>Match Contacts</strong></h6>
          <p>
            At BizNet we believe in the power of strong and relevant professional
            networks. Your network is the most important asset to succeed with your
            business.
          </p>
          <br>
          <h6><strong>Our Vision</strong></h6>
          <p>
            Be the go-to place where small business owners build active and strong
            networks to generate new business opportunities and exchange experience.
          </p>
          <br>
          <h6><strong>Solution</strong></h6>
          <p>
            BizNet helps small business owners to find new business opportunities
            through a strong and relevant network, share experiences and stay social.
          </p>
          <br>
        </div>
        <br>
      </div>
    </div>
  
    
    <!-- How does BizNet work -->
    <div class="start-info">
      <p>
        <a class="btn btn-primary start-buttons" data-toggle="collapse" href="#collapsestart3" aria-expanded="false"
          aria-controls="collapsestart3">
          How does BizNet work?
        </a>
      </p>
      <div class="collapse card-frame" style="max-width: 740px;" id="collapsestart3">
        <div class="card-start start-card-body">
          <br>
          <h6><strong>Match Contacts</strong></h6>
          <p>
            With a smart matching algorithm BizNet finds the right contact to invite
            and start networking with. You can also discover and search manually to
            connect and invite your existing network to BizNet. To interact with your
            new contact BizNet suggest CTA's as next best action like message, video call,
            phone call or a lunch meeting.
          </p>
          </br>
          <h6><strong>Find business</strong></h6>
          <p>
            All users automatically receive gigs which are matching their profile and
            skillset. This is a social marketplace feature. You apply through the app
            and get contacted by the gig owner. To build trust and reputation you can
            get rated or recommended by the gig owner or a user who you have helped.
            Users can post gigs within their network or publicly (pro version).
          </p>
          <br>
          <h6><strong>Stay updated</strong></h6>
          <p>
            The feed is the core engagement feature to keep you updated about what is
            happening in your network. BizNet notifies you to various events that you
            should act on to create more value and rewards when interacting with your
            network.
          </p>
          <br>
        </div>
      </div>
    </div>
  </div>
  </div>
  
</div>

{% endif %}
{% endblock %}