{% extends "base.html" %}
{% load static %}
{% block scripts %}
<script type=" text/javascript" src="{% static 'profileusers/js/my_profile.js' %}" defer></script>
{% endblock scripts %}

{% block title %}
my profile
{% endblock title %}

{% block page_header %}

<!-- Profile tabs -->
<ul class="nav nav-tabs justify-content-evenly">
  <li class="active"><a href="#profile" data-toggle="tab">My Profile</a></li>
  <li><a href="#edit-profile" data-toggle="tab">Edit Profile</a></li>
  <li><a href="#my-contacts" data-toggle="tab">My Contacts</a></li>
  <li><a href="#create-gig" data-toggle="tab">Create Gig</a></li>
  <li><a href="#my-gigs" data-toggle="tab">My Gigs</a></li>
</ul>

<div class="tab-content" id="tabs">
  <div class="tab-pane" id="new-gig">My Profile:</div>
  <div class="tab-pane active" id="edit-profile">Edit My Profile</div>
  <div class="tab-pane" id="my-contacts">My Contacts:</div>
  <div class="tab-pane" id="create-gig">Create new gig:</div>
  <div class="tab-pane" id="my-gigs">View My gigs</div>
</div>

{% endblock %}

{% block content %}

<br>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myProfileModal">
  Follow Suggestions
</button>

<!-- Modal -->
<div class="modal fade" id="myProfileModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel"> Follow: </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;
        </span>
        </button>
      </div>
      <div class="modal-body" id="to-follow-modal">
        <div class="text-center" id="spinner-box">
          <div class="spinner-border" role="status"></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}


{% block postloadjs %}

{{ block.super }}

<script type=" text/javascript" src="{% static 'profileusers/js/countryfield.js' %}"></script>

{% endblock %}