{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profileusers/css/profile.css' %}">
{% endblock %}

{% block scripts %}
<script src="{% static 'profileusers/js/my_profile.js' %}" defer></script>
{% endblock scripts %}


{% block page_header %}
<!-- Profile tab links -->
<div class="tab-container">
  <ul class="nav nav-tab justify-content-evenly" id="profileTab" role="tablist">
    <li class="nav-item" role="presentation">
      <form action="{% url 'profile_details' %}">
        <input type="submit" value="MY PROFILE" class="nav-link gig-tab active" id="my_profile_tab" data-bs-toggle="tab"
          data-bs-target="#my_profile" type="tab-button" role="tab" />
      </form>
    </li>
    <li class="nav-item" role="presentation">
      <form action="{% url 'profile_edit' %}">
        <input type="submit" value="EDIT PROFILE" class="nav-link gig-tab" id="edit_profile_tab" data-bs-toggle="tab"
          data-bs-target="#edit_profile" type="tab-button" role="tab" />
      </form>
    </li>
    <li class="nav-item" role="presentation">
      <form action="{% url 'password_change' %}">
        <input type="submit" value="CHANGE PASSWORD" class="nav-link gig-tab" id="password_change_tab"
          data-bs-toggle="tab" data-bs-target="#password_change" type="tab-button" role="tab" />
      </form>
    </li>
    <li class="nav-item" role="presentation">
      <form action="{% url 'membership_profile' %}">
        <input type="submit" value="MEMBERSHIP" class="nav-link gig-tab" id="membership_profile_tab"
          data-bs-toggle="tab" data-bs-target="#membership_profile" type="tab-button" role="tab" />
      </form>
    </li>

  </ul>
  <div class="tab-content">
    <div class="tab-pane show active" id="my_profile" role="tabpanel" aria-labelledby="my_profile_tab"></div>

    <div class="tab-pane" id="edit_profile" role="tabpanel" aria-labelledby="edit_profile_tab"></div>

    <div class="tab-pane" id="password_change" role="tabpanel" aria-labelledby="password_change_tab"></div>

    <div class="tab-pane" id="membership_profile" role="tabpanel" aria-labelledby="membership_profile_tab"></div>

  </div>
</div>
{% endblock %}

{% block content %}
<style>
  #justify-center {
    margin: auto;
    width: 90%;
    padding: 10px;
    border: none !important;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  /* LAYOUT */

  .form-container {
    height: 80%;
    width: 96%;
    margin: auto;
    padding-top: 15%;
    padding-bottom: 10%;
    align-items: center;
  }

  label {
    font-weight: bold;
    padding-left: 10%;
    padding-right: 10%;
  }

  li::marker {
    color: transparent;
  }

  li {
    display: none;
  }

  h6 {
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: small;
  }

  h1 {
    text-align: center;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
  }

  /*
  .password-info {
    margin: auto;
    padding: 2px;
  }
*/
  input {
    width: 100%;
    text-align: center;
    font-size: large !important;
    height: 45px;
    margin-top: 2%;
    background-color: rgba(252, 248, 248, 0.826) !important;
  }

  input:hover,
  input:active,
  input:focus {
    background-color: rgba(209, 212, 212, 0.752) !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  }

  /* BUTTONS */
/*
.coolbtn {
  color: rgba(60, 154, 247, 0.182);
}
  .coolbtn {
    position: relative;
    padding-left: 1em;
    padding-right: 1em;
    border: none;
    background-color: rgba(60, 154, 247, 0.182);
    cursor: pointer;
    outline: none; 
    font-size: 18px;
    margin: 1em 0.8em;
  }

  .coolbtn:after,
  .coolbtn:before {
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(60, 154, 247, 0.582);
    color: rgba(252, 248, 248, 0.426);
    transition: all 0.9s ease;
    transform: scale(1.5);
  }

  .coolbtn:hover:before {
    top: 0;
    transform: scale(1.5)
  }

  .coolbtn:hover:after {
    transform: scale(1.5)
  }
*/
  .btn{
    color: white;
    border-color: rgba(148, 149, 150, 0.2);
    background-color: rgba(4, 136, 224, 0.918) !important;
    height: 45px;
    margin-top: 2%;
    font-weight: bold;
    text-align: center;
    border-radius: 1px;
    font-size: medium !important;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  

  .btn:hover,
  .btn:active,
  .btn:focus {
    color: white;
    background-color: rgba(10, 145, 235, 0.918) !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  }

</style>

<div class="container-fuid" id="justify-center">

  <!-- Change Password -->
  <div class="card" id="justify-center" style="max-width: 740px;">
    <br>
    <br>
    <h1>CHANGE PASSWORD</h1>
    <br>

    <div class="password-info" id="justify-center">
      <h6>Your password can’t be too similar to your other personal information.</h6>
      <h6>Your password must contain at least 8 characters.</h6>
      <h6>Your password can’t be a commonly used password.</h6>
      <h6>Your password can’t be entirely numeric.</h6>
    </div>

    <div class="form_container" id="justify-center">

      <form method="POST" action="#">

        {% csrf_token %}
        {{ form.as_p }}

        <button class="btn" type="submit" name="action">CONFIRM</button>
        <!--<div class="forgot-pass">
          <a href="{% url 'account_reset_password' %}">Forgot Password?</a>
        </div>-->
        <br>
        <br>
      </form>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>

</div>
{% endblock %}