{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profileusers/css/profile.css' %}">
{% endblock %}

{% block scripts %}
<script src="{% static 'profileusers/js/my_profile.js' %}" defer></script>
{% endblock scripts %}


{% block page_header %}
<!-- Profile tab links -->
<div class="tab-container">
    <ul class="nav nav-tab justify-content-evenly" id="profileTab" role="tablist">
        <li class="nav-item" role="presentation">
            <form action="{% url 'profile_details' %}">
                <input type="submit" value="MY PROFILE" class="nav-link gig-tab active" id="my_profile_tab"
                    data-bs-toggle="tab" data-bs-target="#my_profile" type="tab-button" role="tab" />
            </form>
        </li>
        <li class="nav-item" role="presentation">
            <form action="{% url 'profile_edit' %}">
                <input type="submit" value="EDIT PROFILE" class="nav-link gig-tab" id="edit_profile_tab"
                    data-bs-toggle="tab" data-bs-target="#edit_profile" type="tab-button" role="tab" />
            </form>
        </li>
        <li class="nav-item" role="presentation">
            <form action="{% url 'password_change' %}">
                <input type="submit" value="CHANGE PASSWORD" class="nav-link gig-tab" id="password_change_tab" data-bs-toggle="tab"
                    data-bs-target="#password_change" type="tab-button" role="tab" />
            </form>
        </li>
        <li class="nav-item" role="presentation">
            <form action="{% url 'membership_profile' %}">
                <input type="submit" value="MEMBERSHIP" class="nav-link gig-tab" id="membership_profile_tab"
                    data-bs-toggle="tab" data-bs-target="#membership_profile" type="tab-button" role="tab" />
            </form>
        </li>

    </ul>
    <div class="tab-content">
        <div class="tab-pane show active" id="my_profile" role="tabpanel" aria-labelledby="my_profile_tab"></div>

        <div class="tab-pane" id="edit_profile" role="tabpanel" aria-labelledby="edit_profile_tab"></div>

        <div class="tab-pane" id="password_change" role="tabpanel" aria-labelledby="password_change_tab"></div>

        <div class="tab-pane" id="membership_profile" role="tabpanel" aria-labelledby="membership_profile_tab"></div>

    </div>
</div>
{% endblock %}

{% block content %}
<style>
  #justify-center {
    margin: auto;
    width: 80%;
    padding: 10px;
    border: none !important;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: large !important;
  }

  /*
  a,
  p,
  .link {
    text-align: center;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
*/

  h1 {
    text-align: center;
    font-size: large;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
/*
  .form-control {
    width: 84%;
    height: 45px;
    margin-top: 2%;
    text-align: center;
    border-color: black;
    font-size: large !important;
  }

  .form_container {
    margin-top: 10px;
    width: 100%;
    align-items: center;
  }

  #messages {
    background-color: rgba(128, 186, 240, 0.792);
    color: #fff;
    padding: 10px;
    margin-top: 10px;
  }
  */
</style>

<div class="container-fluid" id="justify-center">
  <div class="user_card my-3 py-2" id="justify-center">
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1 id="form-title">Your Password Was Changed Successfully!</h1>
  </div>
</div>

{% endblock %}