{% extends "base.html" %}


{% block head_title %}Password Updated{% endblock %}

{% block content %}
<style>
  #justify-center {
    margin: auto;
    width: 80%;
    padding: 10px;
    border: none !important;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: large !important;
  }

  /*
  .errorlist {
    list-style: none !important;
    align-items: center;
    font-size: large ;
    text-align: center;
    color: rgba(94, 95, 95, 0.892);
  }
  
ul, li {
  align-items: center;
  font-size: large;
  text-align: center;
}
  .form-check {
    padding: 25px;
  }

  #id_email,
  #id_username,
  #id_password1,
  #id_password2 {
    width: 84%;
    text-align: center;
    font-size: large;
    height: 45px;
    border-style: groove;
  }
*/
  a,
  p,
  .link {
    text-align: center;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  h1 {
    text-align: center;
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .form-control {
    width: 84%;
    height: 45px;
    margin-top: 2%;
    text-align: center;
    border-color: black;
    font-size: large !important;
  }

  .form_container {
    margin-top: 10px;
    width: 100%;
    align-items: center;
  }

  #messages {
    background-color: rgba(128, 186, 240, 0.792);
    color: #fff;
    padding: 10px;
    margin-top: 10px;
  }
</style>

<div class="register_container" id="justify-center">

  <!-- Logo -->
  <div id="justify-center">
    <div class="col-6 col-lg-4" id="justify-center">
      <a href="{% url 'home' %}" class="nav-link main-logo-link">
        <img
          src="https://static.wixstatic.com/media/e64c63_b290d859fd03448bad1976ef606f894e~mv2.png/v1/fill/w_378,h_88,al_c,lg_1,q_85/Ska%CC%88rmavbild%202021-05-23%20kl_%2020_40_47.webp"
          alt="" width="230" height="55" class="logo img-fluid">
      </a>
    </div>
  </div>
  <br>
  <br>
  <br>

  <div class="d-flex">
    <div class="d-flex" id="justify-center">
      <h1 id="form-title">Your Password Was Changed Successfully.</h1>
    </div>
  </div>

  {% endblock %}