{% extends "base.html" %}


{% block head_title %}Password Updated{% endblock %}

{% block content %}
<style>
  #justify-center {
    margin: auto;
    width: 80%;
    padding: 10px;
    border: none !important;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: large !important;
  }

  /*
  a,
  p,
  .link {
    text-align: center;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
*/

  h1 {
    text-align: center;
    font-size: large;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
/*
  .form-control {
    width: 84%;
    height: 45px;
    margin-top: 2%;
    text-align: center;
    border-color: black;
    font-size: large !important;
  }

  .form_container {
    margin-top: 10px;
    width: 100%;
    align-items: center;
  }

  #messages {
    background-color: rgba(128, 186, 240, 0.792);
    color: #fff;
    padding: 10px;
    margin-top: 10px;
  }
  */
</style>

<div class="container-fuid" id="justify-center">
  <div class="user_card my-3 py-2" id="justify-center">
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1 id="form-title">Your Password Was Changed Successfully!</h1>
  </div>
</div>

{% endblock %}