{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profileusers/css/profile.css' %}">
{% endblock %}


{% block page_header %}
<!-- Profile tabs -->
<div class="container tab-container">
    <div class="row justify-content-md-center">
        <div class="col-12">
            <h3><strong>My Profile</strong></h3>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
                        type="button" role="tab" aria-controls="home" aria-selected="true">Edit</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile"
                        type="button" role="tab" aria-controls="profile" aria-selected="false">Delete Profile</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile"
                        type="button" role="tab" aria-controls="profile" aria-selected="false">Tab</button>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<p>Welcome {{ user.username }} !!!</p>
{% else %}
<a href="{% url 'network' %}">Sign Up</a>
{% endif %}

{% endblock %}



{% block postloadjs %}
{{ block.super }}
<script type="text/javascript" src="{% static 'profile/js/countryfield.js' %}"></script>
{% endblock %}