{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profileusers/css/profile.css' %}">
{% endblock %}


{% block page_header %}
<!-- Profile tabs -->
<div class="container tab-container">
    <div class="row justify-content-md-center">
        <div class="col-12">
            <h3><strong>My Profile</strong></h3>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
                        type="button" role="tab" aria-controls="home" aria-selected="true">Edit</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile"
                        type="button" role="tab" aria-controls="profile" aria-selected="false">Delete Profile</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile"
                        type="button" role="tab" aria-controls="profile" aria-selected="false">Tab</button>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<br>
<div class="container-profile container-fluid col-11">

    {% for profile in profileusers %}
    <!-- Profile cards -->
    <div class="col-12 profile-card">
        <div class="row g-0">
            <!-- 
            <div class="col-md-4 col-sm-12">
                {% if profileusers.image %}
                <a href="{{ media.image.url }}" target="_blank">
                    <img class="card-img-top img-fluid" src="{{ media.image.url }}" alt="{{ profileusers.username }}">
                </a>
                {% else %}
                <a href="media/images/profileefault.jpg">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}profileefault.jpg"
                        alt="{{ profileusers.username }}">
                </a>
                {% endif %}
            </div>
            -->


            <div class="col-md-7 col-sm-12">
                <div class="card-body">
                    <h5 class="card-title">{{ profile.firstname }}</h5>
                    <h5 class="card-title">{{ profile.lastname }}</h5>
                    <h5 class="card-title">{{ profile.title }}</h5>

                    <h6 class="card-subtitle mb-2 text-muted"> {{ profile.city }}</h6>
                    <h6 class="card-subtitle mb-2 text-muted"> {{ profile.country }}</h6>
                    <h5 class="card-title"> Other</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional
                        content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
        <div class="col-12">
            <h5> {{ profile.presentation }}Presentation</h5>
            <p>Some quick example text to build on the card title and make up the bulk of the
                card's
                content.</p>

            {% endfor %}

            <div class="col">
                <a href="#" class="card-link">Edit</a>
                <a href="#" class="card-link">Delete</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}



{% block postloadjs %}
{{ block.super }}
<script type="text/javascript" src="{% static 'profile/js/countryfield.js' %}"></script>
{% endblock %}