{% extends "account/base.html" %}
{% load i18n %}


{% block content %}
<style>
    #justify-center {
        margin: auto;
        width: 80%;
        padding: 10px;
        border: none !important;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    /* FONT */

    .profile-name {
        font-size: x-large;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
    }
    .profile-email {
        font-size: large;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    } 

    option,
    a,
    p,
    .link,
    h2 {
        text-align: center;
        font-size: medium;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .form-control {
        height: 45px;
        margin-top: 1%;
        text-align: center;
    }

    .form_container {
        margin-top: 8px;
        width: 100%;
        /* border-color: black; */
        align-items: center;
    }

    /* BUTTONS */

    .back-button,
    .next-button {
        /*background-color: #01AAAD;*/
        width: 150px;
        margin: 0 20px;
        display: inline-block;
        line-height: 60px;
    }

    .btn {
        /* border-width: 2px; */
        color: white;
        border-color: rgba(148, 149, 150, 0.2);
        background-color: rgba(131, 133, 134, 0.8) !important;
        width: 90%;
        height: 45px;
        margin-top: 2%;
        font-weight: bold;
        text-align: center;
        font-size: medium !important;
        box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -moz-box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .btn:hover,
    .btn:active,
    .btn:focus {
        background-color: rgba(94, 95, 95, 0.792) !important;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    }

    #link {
        color: deeppink;
    }
    
    /*
  .register_container {
    padding: 0 1rem;
  }

  .input-group-text {
    background: #8a9194a9 !important;
    color: white !important;
    border: 1px !important;
    font-size: large;
    border-radius: 0.25rem 0 0 0.25rem !important;
  }

  .input_user,
  .input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
  }
  
    input {
        width: 84%;
        text-align: center;
        font-size: large !important;
        height: 45px;
        margin-top: 2%;
        background-color: rgba(238, 236, 236, 0.292) !important;
    }

    input:hover,
    input:active,
    input:focus {
        background-color: rgba(94, 95, 95, 0.192) !important;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    }

    #terms-box {
        width: 5mm;
        height: 5mm;
    }

    #terms-box>input:checked {
        border: 1px solid #3db2f5;
        background-color: #e2e3e4;
    }

    .link-terms {
        color: #0896e7;
    }

  #messages {
    background-color: rgba(128, 186, 240, 0.792);
    color: #fff;
    padding: 10px;
    margin-top: 10px;
  }
  */
</style>

<div class="register_container" id="justify-center">

    <!-- Logo -->
    <div id="justify-center">
        <div class="col-6 col-lg-4" id="justify-center">
            <a href="{% url 'home' %}" class="nav-link main-logo-link">
                <img src="https://static.wixstatic.com/media/e64c63_b290d859fd03448bad1976ef606f894e~mv2.png/v1/fill/w_378,h_88,al_c,lg_1,q_85/Ska%CC%88rmavbild%202021-05-23%20kl_%2020_40_47.webp"
                    alt="" width="230" height="55" class="logo img-fluid">
            </a>
        </div>
    </div>
    <br>
    <div class="d-flex">
        <div class="d-flex" id="justify-center">
            <h2 id="form-title">LET'S CREATE YOUR PROFILE FOR</h2>


            <form method="POST" enctype="multipart/form-data" action="{% url 'register_1' %}">
                {% csrf_token %}

                <!-- Avatar -->
                <div class="row">
                    <div class="col">
                        <img class="rounded-circle account-img avatar" src="{{profileuser.avatar.url}}"
                            alt="{{profileuser.user}}">
                    </div>
                </div>

    <!-- User Name -->
    <div class="input-group mb-2">
        {{user.first_name}} {{user.last_name}} 
    </div>

    <br>
    <!-- Username: Placeholder name Email -->
    <div class="input-group mb-2">
        {{user.email}}
    </div>
    <br>

    <!-- Submit button -->
    <div class="d-flex justify-content-center mt-3" id="justify-center">
        <input class="btn register-button" type="submit" value="CREATE PROFILE">
    </div>

    <!-- Back/Next buttons -->
    <!--<div class="row">
        <a href="{% url 'register_1' %}"><input type="button" name="acceptButton" class="back-button" value="BACK"></a>
        <a href="{% url 'register_2' %}"><input type="button" name="declineButton" id="declineButton"
                class="next-button" value="NEXT"></a>
    </div>-->
    <br>
                <br>

            </form>

        </div>
    </div>



    <script>
        /* Because i didnt set placeholder values in forms.py they will be set here using vanilla Javascript
      //We start indexing at one because CSRF_token is considered and input field 
      */

        // Query All input fields
        var form_fields = document.getElementsByTagName('input')
        /*
        form_fields[1].placeholder = 'First Name..';
        form_fields[2].placeholder = 'Last Name..';
        form_fields[3].placeholder = 'Email..';
*/
        form_fields[1].placeholder = 'Phone..';
        form_fields[2].placeholder = 'City...';
        // form_fields[3].placeholder = 'Country...';

        for (var field in form_fields) {
            form_fields[field].className += 'form-control'
        }

    </script>

    {% endblock %}
