{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profileusers/css/profile.css' %}">
{% endblock %}

{% block scripts %}
<script src="{% static 'profileusers/js/my_profile.js' %}" defer></script>
{% endblock scripts %}


{% block page_header %}
<!-- Profile tabs -->

<div class="tab-container">
    <ul class="nav nav-tab justify-content-evenly" id="profileTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link gig-tab" id="my_profile_tab" href="{% url 'profile_details' %}" data-bs-toggle="tab" data-bs-target="#my_profile" type="tab-button" role="tab"">My Profile</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link gig-tab " id="edit_profile_tab" href="{% url 'profile_edit' %}" data-bs-toggle="tab" data-bs-target="#edit_profile" type="tab-button" role="tab">Edit Profile</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link gig-tab" id="my_contacts_tab" href="{% url 'network' %}" data-bs-toggle="tab" data-bs-target="#my_contacts" type="tab-button" role="tab">My Contacts</button>
          </li>   
          <li class="nav-item" role="presentation">
            <button class="nav-link gig-tab" id="create_gig_tab" href="{% url 'create_gig' %}" data-bs-toggle="tab" data-bs-target="#create_gig" type="tab-button" role="tab">Create Gigs</button>
          </li> 
        <li class="nav-item" role="presentation">
          <button class="nav-link gig-tab" id="my_gig_tab" href="{% url 'my_gigs' %}" data-bs-toggle="tab" data-bs-target="#my_gig" type="tab-button" role="tab">My Gigs</button>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane show active" id="my_profile" role="tabpanel" aria-labelledby="my_profile_tab">..My profile...</div>

        <div class="tab-pane" id="edit_profile" role="tabpanel" aria-labelledby="edit_profile_tab">..Edit profile..</div>
        
        <div class="tab-pane" id="my_contacts" role="tabpanel" aria-labelledby="my_contacts_tab">..My contacts link..</div>
        
        <div class="tab-pane" id="create_gig" role="tabpanel" aria-labelledby="create_gig_tab">.Create new gigs...</div>
        
        <div class="tab-pane" id="my_gig" role="tabpanel" aria-labelledby="my_gig_tab">..View My gigs..</div>
      </div>
</div>

{% endblock %}

{% block content %}
{% if user.is_authenticated %}


<h2>
    Edit Profile
</h2>

<div class="container-profile justify-center">

    <div class="row row-cols-10"></div>

    <!-- Edit Profile -->
    <div class="card" style="max-width: 840px;">
        <div class="card-body">
            <div class="col-12">

                <div class="row g-0">
                    <div class="col-md-5">

                        {% if profileusers.avatar %}

                        <img src="{{ profile.avatar.url }}" class="img-fluid profile-img rounded-start"
                            alt="{{ profile.username}}">

                        {% else %}

                        <img src="{{ profile.avatar.url }}" class="img-fluid profile-img rounded-start"
                            alt="{{ user.profile.image.url }}">

                        {% endif %}

                    </div>
                    <div class="col-md-7">
                        <div class="card-body">
                            <h5 class="card-title">{{profile.firstname}} {{profile.lastname}}</h5>
                            <h6 class="card-title"></h6>
                            <h6 class="card-title">Title: &nbsp; {{profile.title}}</h6>
                            <h6 class="card-title">Company: &nbsp; {{profile.company_name}}</h6>
                            <h6 class="card-title">Industry: &nbsp; {{profile.industry}}</h6>
                            <br>

                            <p class="card-text">Profession: &nbsp; {{profile.profession}}</p>
                            <p class="card-text">Skills: &nbsp {{profile.skill}}</p>
                            <br>
                            <p class="card-text">Email: &nbsp; {{profile.email}}</p>
                            <p class="card-text">City: &nbsp; {{profile.city}}</p>
                            <p class="card-text">{{profile.country}}</p>
                            <br>

                        </div>
                    </div>
                    <div class="col-12">
                        <h6><strong>Presentation:</strong></h6>
                        <p>{{profile.description}}</p>
                    </div>
                    <br>
                    <p class="card-text"><small class="text-muted">{{profile.updated}}</small>
                    </p>
                    <br>
                    <br>

                    <div class="col-12">

                        <!-- My gigs -->
                        <div class="col">
                            <div>
                                <div class="row justify-content-between">
                                    <div class="col-9">
                                        <p><b>My Gigs:</b></p>
                                        <p>{{profile.get_my_gigs}}</p>
                                    </div>
                                    <div class="col-3">
                                        <p class="text-center"><b>Number of Gigs:</b></p>
                                        <p class="text-center"> {{profile.num_gigs}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>

                        <!-- Followings -->
                        <div class="col">
                            <div>
                                <div class="row justify-content-between">
                                    <div class="col-9">
                                        <p><b>Following profiles:</b></p>
                                        <p> {{ profile.get_followings_contact }}</p>
                                    </div>
                                    <div class="col-3">
                                        <p class="text-center"><b>Number of Followings:</b></p>
                                        <p class="text-center"> {{ profile.following_count }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>

                        <!-- Followers -->
                        <div class="col">
                            <div>
                                <div class="row justify-content-between">
                                    <div class="col-9">
                                        <p><b>Followers:</b><br> {{ profile.get_followers }}</p>
                                    </div>
                                    <div class="col-3">
                                        <p class="text-center"><b>Number of Followers:</b></p>
                                        <p class="text-center"> {{profile.followers_count}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <br>

                        <!-- Followings posted gigs -->
                        <div class="col">
                            <div>
                                <div class="col-10">
                                    <p><b>Contact gigs :</b></p>
                                    <p>{{profile.get_contact_gigs}}</p>
                                </div>
                            </div>
                        </div>
                        <br>

                        <!-- Contact suggestions -->
                        <div class="col">
                            <div>
                                <div class="col-10">
                                    <p><b>Contact suggestions :</b></p>
                                    <p> {{profile.get_proposal_contact}}</p>
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#myProfileModal">
                                        Contact Suggestions
                                    </button>

                                    <!-- Modal -->
                                    <!--
                                    <div class="modal fade" id="myProfileModal" tabindex="-1"
                                        aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="myModalLabel"> Follow: </h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close">

                                                    </button>
                                                </div>
                                                <div class="modal-body" id="to-follow-modal">
                                                    <div class="text-center" id="spinner-box">
                                                        <div class="spinner-border" role="status"></div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-primary"
                                                        data-bs-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    -->


                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>




{% endif %}

{% endblock %}