{% extends "base.html" %}
{% load static %}
{% load i18n %}


{% block scripts %}
<script src="{% static 'profileusers/js/my_profile.js' %}" defer></script>
{% endblock scripts %}


{% block page_header %}
<!-- Profile tab links -->
<div class="tab-container">
    <ul class="nav nav-tab justify-content-evenly" id="profileTab" role="tablist">
        <li class="nav-item" role="presentation">
            <form action="{% url 'profile_details' %}">
                <input type="submit" value="MY PROFILE" class="nav-link gig-tab active" id="my_profile_tab"
                    data-bs-toggle="tab" data-bs-target="#my_profile" type="tab-button" role="tab" />
            </form>
        </li>
        <li class="nav-item" role="presentation">
            <form action="{% url 'password_change' %}">
                <input type="submit" value="CHANGE PASSWORD" class="nav-link gig-tab" id="password_change_tab"
                    data-bs-toggle="tab" data-bs-target="#password_change" type="tab-button" role="tab" />
            </form>
        </li>
        <li class="nav-item" role="presentation">
            <form action="{% url 'membership_profile' %}">
                <input type="submit" value="MEMBERSHIP" class="nav-link gig-tab" id="membership_profile_tab"
                    data-bs-toggle="tab" data-bs-target="#membership_profile" type="tab-button" role="tab" />
            </form>
        </li>

    </ul>
    <div class="tab-content">
        <div class="tab-pane show active" id="my_profile" role="tabpanel" aria-labelledby="my_profile_tab"></div>


        <div class="tab-pane" id="password_change" role="tabpanel" aria-labelledby="password_change_tab"></div>

        <div class="tab-pane" id="membership_profile" role="tabpanel" aria-labelledby="membership_profile_tab"></div>

    </div>
</div>
{% endblock %}


{% block content %}

{% if user.is_authenticated %}

<div class="container-fluid" id="justify-center">
    <br>

    <div class="row">
        <div class="col-sm-10 col-sx-12 mx-auto">

            <!-- Profileuser card -->
            <div id="justify-center" class="card" style="max-width: 740px;">
                <!-- Profileuser information -->

                <!-- Row One -->
                <div class="row">
                    {% csrf_token %}
                    <div class="col-sm-6 col-12" style="max-width: 400px;">
                        <!-- Profile pic -->
                        <div class="mt-3 card-body">

                            {% if profileusers.picture %}

                            <img src="{{ object.picture.url }}" class="img-fluid profile-img rounded-start"
                                alt="{{ profile.username}}">

                            {% else %}

                            <img src="{{ object.picture.url }}" class="img-fluid profile-img rounded-start"
                                alt="{{ user.profile.image.url }}">

                            {% endif %}
                        </div>

                        <!-- Matching Preferences -->
                        <div class="card-body">
                            <h6><strong>Matching Preferences:</strong></h6>
                            <p><strong>Industry:</strong> &nbsp;
                                {{object.business}}</p>
                            <p><strong>Location:</strong> &nbsp;
                                {{object.locations}}</p>
                        </div>
                    </div>

                    <!-- Profileuser fact colum-->
                    <div class="col-sm-6 col-12" style="max-width: 480px;">
                        <div class="card-body">
                            <h4 class="card-title g-0"><strong>{{object.first_name}}
                                    {{object.last_name}}</strong></h4>
                            <p class="card-text"><strong>Title:</strong> &nbsp; {{object.title}}
                            </p>
                            <p class="card-text"><strong>Company:</strong> &nbsp;
                                {{object.company_name}}</p>
                            <p class="card-text "><strong>Email:</strong> &nbsp; {{user.email}}</p>
                            <p class="card-text"><strong>City:</strong> &nbsp; {{object.city}}</p>
                            <p class="card-text"><strong>Country:</strong> &nbsp;
                                {{object.country}}</p>
                            <p class="card-text"><strong>Business:</strong> &nbsp;
                                {{object.industry}}</p>
                            <p class="card-text"><strong>Profession:</strong> &nbsp;
                                {{object.profession}}</p>
                            <p class="card-text"><strong>Employment Status:</strong> &nbsp
                                {{object.employment}}</p>
                            <p class="card-text"><strong>Purpose:</strong> &nbsp {{object.status}}
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Row Two -->

                <!-- Profileuser bio -->
                <div class="card-body col-12">
                    <h6><strong>Presentation:</strong></h6>
                    <p>{{object.description}}</p>
                </div>

                {% if user.is_authenticated %}

                <!-- Edit Button -->

                <div class="row text-center">
                    <form class="col" action="{% url 'profile_edit' %}">
                        <button type="submit" class="btn">EDIT</button>
                    </form>
                </div>
                <br>
                {% endif %}

                {% endif %}


            </div>

        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
</div>

{% endblock %}

{% if request.user.id == profileuser.user.id %}

            <!-- Profileuser User -->

<div class="container-fluid" id="justify-center">
    <br>

    <div class="row">
        <div class="col-sm-10 col-sx-12 mx-auto">

            <!--<span class="hello-msg">Welcome {{request.user.first_name}}
                {{request.user.last_name}}.
            </span>
            <br>-->

            <!-- Profileuser card -->
            <div id="justify-center" class="card" style="max-width: 740px;">

                <!-- Profileuser information -->

                <!-- Row One -->
                <div class="row">
                    {% csrf_token %}
                    <div class="col-sm-6 col-12" style="max-width: 400px;">
                        <!-- Profile pic -->
                        <div class="mt-3 card-body">

                            {% if profileusers.picture %}

                            <img src="{{ profile.picture.url }}" class="img-fluid profile-img rounded-start"
                                alt="{{ profile.username}}">

                            {% else %}

                            <img src="{{ profile.picture.url }}" class="img-fluid profile-img rounded-start"
                                alt="{{ user.profile.image.url }}">

                            {% endif %}
                        </div>

                        <!-- Matching Preferences -->
                        <div class="card-body">
                            <h6><strong>Matching Preferences:</strong></h6>
                            <p><strong>Industry:</strong> &nbsp;
                                {{profile.business}}</p>
                            <p><strong>Location:</strong> &nbsp;
                                {{profile.locations}}</p>
                        </div>
                    </div>

                    <!-- Profileuser fact colum-->
                    <div class="col-sm-6 col-12" style="max-width: 480px;">
                        <div class="card-body">
                            <h4 class="card-title g-0"><strong>{{user.first_name}}
                                    {{user.last_name}}</strong></h4>
                            <p class="card-text"><strong>Title:</strong> &nbsp; {{profile.title}}
                            </p>
                            <p class="card-text"><strong>Company:</strong> &nbsp;
                                {{profile.company_name}}</p>
                            <p class="card-text "><strong>Email:</strong> &nbsp; {{user.email}}</p>
                            <p class="card-text"><strong>City:</strong> &nbsp; {{profile.city}}</p>
                            <p class="card-text"><strong>Country:</strong> &nbsp;
                                {{profile.country}}</p>
                            <p class="card-text"><strong>Business:</strong> &nbsp;
                                {{profile.industry}}</p>
                            <p class="card-text"><strong>Profession:</strong> &nbsp;
                                {{profile.profession}}</p>
                            <p class="card-text"><strong>Employment Status:</strong> &nbsp
                                {{profile.employment}}</p>
                            <p class="card-text"><strong>Purpose:</strong> &nbsp {{profile.status}}
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Row Two -->

                <!-- Profileuser bio -->
                <div class="card-body col-12">
                    <h6><strong>Presentation:</strong></h6>
                    <p>{{profile.description}}</p>
                </div>

                <!-- Edit Buttons -->

                <div class="row text-center">
                    <form class="col" action="{% url 'profile_edit' %}">
                        <button type="submit" class="btn">EDIT</button>
                    </form>
                </div>

                <br>
            </div>

        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
</div>

{% endif %}
