{% extends "base.html" %}
{% load i18n %}


{% block content %}

<div class="container-profile justify-center">


    <br>
    <!-- Logo -->
    <div id="justify-center">
      <div class="col-6 col-lg-4" id="justify-center">
        <a href="{% url 'home' %}" class="nav-link main-logo-link">
          <img
            src="https://static.wixstatic.com/media/e64c63_b290d859fd03448bad1976ef606f894e~mv2.png/v1/fill/w_378,h_88,al_c,lg_1,q_85/Ska%CC%88rmavbild%202021-05-23%20kl_%2020_40_47.webp"
            alt="" width="230" height="55" class="logo img-fluid">
        </a>
      </div>
    </div>
    <br>
    
    <!-- Edit Profile -->
    <div class="card" style="max-width: 840px;">
        <!--<div class="row">
            <div class="col">
                <img class="rounded-circle account-img avatar" src="{{profileuser.avatar}}" alt="{{profileuser.user}}">
            </div>
        </div>-->

        <div class="card-body">
            <div class="col-12">

                <h5>
                    Register Profile
                </h5>

            </div>
        </div>
    </div>
    <br>
    <br>

</div>

{% endblock %}