{% extends "account/base.html" %}
{% load i18n %}



{% block content %}
<style>
    #justify-center {
        margin: auto;
        width: 80%;
        padding: 10px;
        border: none !important;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    option {
        margin-top: 20px;
    }

    label {
        display: none;
    }

    #id_title,
    #id_company_name {
        width: 82%;
        text-align: center;
        margin-left: 1%;
        font-size: medium;
        height: 43px;
        margin-top: 2%;
        border-color: black;
        border-width: 2px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    #id_city,
    #city_ascii,
    #id_country {
        width: 84%;
        text-align: center;
        margin-left: 1%;
        font-size: medium;
        height: 45px;
        margin-top: 2%;
        border-color: black;
        border-width: 2px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    p,
    .link,
    h2 {
        text-align: center;
        font-size: medium;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .form-control {
        height: 45px;
        margin-top: 1%;
        text-align: center;
    }

    .form_container {
        margin-top: 8px;
        width: 100%;
        align-items: center;
    }


    /* FONT */

    .profile-name {
        font-size: x-large;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
    }

    .profile-email {
        font-size: large;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    /* BUTTONS */

    .save-button {
        color: white;
        border-color: rgba(161, 207, 253, 0.2);
        background-color: rgba(11, 142, 218, 0.8) !important;
        width: 40%;
        height: 40px;
        margin-top: 2%;
        font-weight: bold;
        text-align: center;
        font-size: medium !important;
        box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -moz-box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .save-button:hover,
    .save-button:active,
    .save-button:focus {
        background-color: rgba(33, 164, 240, 0.8) !important;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    }

    .back-button,
    .next-button {
        width: 150px;
        margin: 0 20px;
        display: inline-block;
        line-height: 60px;
    }

    .row {
        text-align: center;
        /*the same margin which is every button have, it is for small screen, and if you have many buttons.*/
        margin-left: -20px;
        margin-right: -20px;
    }

    .btn {
        color: white;
        border-color: rgba(148, 149, 150, 0.2);
        background-color: rgba(131, 133, 134, 0.8) !important;
        width: 40%;
        height: 50px;
        margin-top: 2%;
        font-weight: bold;
        text-align: center;
        font-size: medium !important;
        box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -moz-box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .btn:hover,
    .btn:active,
    .btn:focus {
        background-color: rgba(94, 95, 95, 0.792) !important;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    }

    #link {
        color: deeppink;
    }
</style>

<div class="register_container" id="justify-center">

    <!-- Logo -->
    <div id="justify-center">
        <div class="col-6 col-lg-4" id="justify-center">
            <a href="{% url 'home' %}" class="nav-link main-logo-link">
                <img src="https://static.wixstatic.com/media/e64c63_b290d859fd03448bad1976ef606f894e~mv2.png/v1/fill/w_378,h_88,al_c,lg_1,q_85/Ska%CC%88rmavbild%202021-05-23%20kl_%2020_40_47.webp"
                    alt="" width="230" height="55" class="logo img-fluid">
            </a>
        </div>
    </div>
    <br>
    <div class="d-flex">
        <div class="d-flex" id="justify-center">
            <h2 id="form-title">PROFILE INFORMATION</h2>
        </div>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <!-- Avatar -->
            <div class="row">
                <div class="col">
                    <img class="rounded-circle account-img avatar" src="{{profileuser.avatar.url}}"
                        alt="{{profileuser.user}}">
                </div>
            </div>

            <!-- First & Last Name -->
            <div class="input-group mb-2">
                <div class="input-group-append">
                    <span class="input-group-text"></span>
                </div>
                <div class="profile-name">
                    {{user.first_name}} {{user.last_name}}
                </div>
            </div>
            <!-- Username: Placeholder name Email -->
            <div class="input-group mb-2">
                <div class="input-group-append">
                    <span class="input-group-text"></span>
                </div>
                <div class="profile-email">
                    {{user.email}}
                </div>
            </div>
            <br>
            <!-- Title -->
            <div class="input-group mb-2">
                <div class="input-group-append">
                    {{profile_form1.title}}
                </div>
            </div>
            <!-- Company -->
            <div class="input-group mb-2">
                <div class="input-group-append">
                    {{profile_form1.company_name}}
                </div>
            </div>
            <!-- Country -->
            <div class="input-group mb-2">
                <div class="input-group-append">
                    {{profile_form1.country}}
                </div>
            </div>
            <!--  City -->
            <div class="input-group mb-2">
                <div class="input-group-append">
                    {{profile_form1.city}}
                </div>
            </div>
            <br>

            <!-- Country and City dropdwn-->
            <!--{% csrf_token %}
            <div class="col-md-6">
                <div class="form-group">
                    <label for="inputStatus">Country</label>
                    <select id="id_country" class="form-control-sm custom-select">
                        <option selected disabled>Choose a Country</option>
                        {% for country in countries %}
                        <option value="{{country.country_id}}">{{country.name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="inputStatus">City</label>
                    <select id="city_ascii" class="form-control-sm custom-select" name="city">
                        <option selected disabled>Choose a City</option>
                    </select>
                </div>
            </div>-->


            <p>Don´t forget to save.</p>

            <!-- Submit button -->
            <div class="d-flex justify-content-center mt-3" id="justify-center">
                <input class="save-button " type="submit" value="SAVE">
            </div>

            <!-- Back/Next buttons -->
            <div class="row button-row">
                <a href="{% url 'register' %}"><input type="button" name="backButton" class="btn back-button"
                        value="BACK"></a>
                <a href="{% url 'register_2' %}"><input type="button" name="nextButton" id="nextButton"
                        class="btn next-button" value="NEXT"></a>
            </div>
            <br>
        </form>

    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>

        // Query All input fields
        var form_fields = document.getElementsByTagName('input')

        form_fields[1].placeholder = ' Title..';
            form_fields[2].placeholder = ' Company..';
            form_fields[3].placeholder = ' City...';

        for (var field in form_fields) {
            form_fields[field].className += 'form-control'
        }
/*
        // Get JSON data for Countries and cities dropdown
        $("#id_country").change(function () {
            var url = $("#ProfileForm1").attr("data-cities-url");
            var countryId = $(this).val();

            $.ajax({
                url: url,
                data: {
                    'country': countryId
                },
                success: function (data) {
                    $("#city_ascii").html(data);
                }
            });
        });
*/
    </script>

    {% endblock %}