{% extends "account/base.html" %}
{% load i18n %}



{% block content %}
<style>
  #justify-center {
    margin: auto;
    width: 80%;
    padding: 10px;
    border: none !important;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  option {
    margin-top: 20px;
  }

  #id_business,
  #id_skills,
  #id_locations {
    width: 85%;
    text-align: center;
    margin-left: 1%;
    font-size: medium;
    height: 45px;
    margin-top: 2%;
    border-color: black;
    border-width: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  p,
  .link,
  h2 {
    text-align: center;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .form-control {
    height: 45px;
    margin-top: 1%;
    text-align: center;
  }

  .form_container {
    margin-top: 8px;
    width: 100%;
    align-items: center;
  }

  /* BUTTONS */

  .save-button {
    color: white;
    border-color: rgba(161, 207, 253, 0.2);
    background-color: rgba(11, 142, 218, 0.8) !important;
    width: 40%;
    height: 40px;
    margin-top: 2%;
    font-weight: bold;
    text-align: center;
    font-size: medium !important;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .save-button:hover,
  .save-button:active,
  .save-button:focus {
    background-color: rgba(33, 164, 240, 0.8) !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  }

  .back-button,
  .next-button {
    width: 150px;
    margin: 0 20px;
    display: inline-block;
    line-height: 60px;
  }

  .row {
    text-align: center;
    /*the same margin which is every button have, it is for small screen, and if you have many buttons.*/
    margin-left: -20px;
    margin-right: -20px;
  }

  .btn {
    color: white;
    border-color: rgba(148, 149, 150, 0.2);
    background-color: rgba(131, 133, 134, 0.8) !important;
    width: 40%;
    height: 50px;
    margin-top: 2%;
    font-weight: bold;
    text-align: center;
    font-size: medium !important;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .btn:hover,
  .btn:active,
  .btn:focus {
    background-color: rgba(94, 95, 95, 0.792) !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  }

  #link {
    color: deeppink;
  }

</style>

<div class="register_container" id="justify-center">

  <!-- Logo -->
  <div id="justify-center">
    <div class="col-6 col-lg-4" id="justify-center">
      <a href="{% url 'home' %}" class="nav-link main-logo-link">
        <img
          src="https://static.wixstatic.com/media/e64c63_b290d859fd03448bad1976ef606f894e~mv2.png/v1/fill/w_378,h_88,al_c,lg_1,q_85/Ska%CC%88rmavbild%202021-05-23%20kl_%2020_40_47.webp"
          alt="" width="230" height="55" class="logo img-fluid">
      </a>
    </div>
  </div>
  <br>

  <div class="d-flex">
    <div class="d-flex" id="justify-center">
      <h2 id="form-title">MATCHING PREFERENCES</h2>
    </div>

    <form method="POST" enctype="multipart/form-data" action="{% url 'register_3' %}">
      {% csrf_token %}

      <!-- Industry -->
      <div class="input-group mb-2">
        <div class="input-group-append">
          {{profile_form3.business}}
        </div>
      </div>
      <!-- Skill -->
      <div class="input-group mb-2">
        <div class="input-group-append">
          {{profile_form3.skills}}
        </div>
      </div>
      <!-- Location -->
      <div class="input-group mb-2">
        <div class="input-group-append">
          {{profile_form3.locations}}
        </div>
      </div>
      <br>

      <!-- Submit button -->
      <div class="d-flex justify-content-center" id="justify-center">
        <input class="save-button" type="submit" value="SAVE">
      </div>

      <!-- Back/Next buttons -->
      <div class="row button-row">
        <a href="{% url 'register_2' %}"><input type="button" name="backButton" class="btn back-button"
            value="BACK"></a>
        <a href="{% url 'profile_details' %}"><input type="button" name="nextButton" id="nextButton"
            class="btn next-button" value="NEXT"></a>
      </div>
      <br>
    </form>
  </div>
</div>

{% endblock %}