{% extends "base.html" %}
{% load i18n %}


{% block content %}
{% if user.is_authenticated %}

<div class="container-profile justify-center">

    <!-- Edit Profile -->
    <div class="card" style="max-width: 840px;">
        <!--<div class="row">
            <div class="col">
                <img class="rounded-circle account-img avatar" src="{{profileuser.avatar}}" alt="{{profileuser.user}}">
            </div>
        </div>-->

        <div class="card-body">
            <div class="col-12">

                <h5>
                    Register Profile
                </h5>

            </div>
        </div>
    </div>
    <br>
    <br>

</div>

{% endif %}
{% endblock %}