{% extends "account/base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

<style>
  body,
  html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #ffffff !important;
  }

  #justify-center {
    margin: auto;
    width: 70%;
    padding: 15px;
    border: none !important;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .user_card {
    width: 60%;
    margin-top: auto;
    margin-bottom: auto;
    background: #ffffff;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .form_container {
    margin-top: 30px;
    width: 60%;
    height: 60%;
    align-items: center;
  }

  #form-title {
    color: #fff;
  }

  .logout_btn {
    width: 100%;
    background: rgba(141, 133, 133, 0.7) !important;
    color: white !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    font-weight: bold;
  }

  .logout_btn:focus {
    box-shadow: none !important; 
    outline: 0px !important;
  }

  .logout_container {
    padding: 0 2rem;
  }

  .input-group-text {
    background: #f7ba5b !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
  }

  .input_user,
  .input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
  }

  #messages {
    background-color: grey;
    color: #fff;
    padding: 10px;
    margin-top: 10px;
  }
</style>

<div class="container" id="justify-center">

  <!-- Logo -->
  <div id="justify-center">
    <div class="col-6 col-lg-4" id="justify-center">
      <a href="{% url 'home' %}" class="nav-link main-logo-link">
        <img
          src="https://static.wixstatic.com/media/e64c63_b290d859fd03448bad1976ef606f894e~mv2.png/v1/fill/w_378,h_88,al_c,lg_1,q_85/Ska%CC%88rmavbild%202021-05-23%20kl_%2020_40_47.webp"
          alt="" width="210" height="50" class="logo img-fluid">
      </a>
    </div>
  </div>
  <br>

  <div class="user_card" id="justify-center">

    <div class="d-flex form_container" id="justify-center">
      <div class="text-center">
        <h3>{% trans "Sign Out" %}</h3>
        <br>
        <p>{% trans 'Are you sure you want to sign out?' %}</p>
      </div>

        <form id="justify-center" method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="text-center logout_btn" id="justify-center" type="submit">{% trans 'Sign Out' %}</button>
      </form>
<br>
<br>

    </div>
  </div>
</div>


{% endblock %}