
/* Body content */

body {
	background: url('/media/images/background.jpg') no-repeat center center fixed;
	background-size: cover;
  height: calc(100vh - 164px);
  color: #555;
  font-family: "Lato";
}

.logo {
  display: url('/media/biznetname.png.jpg');
}
/* START PAGE */

/* Start/Home page */
/*
.home-profile {
  padding-top: 0%;
}
.start-info {
  padding: 5px;
  justify-content: center;
  align-items: center;
}
.questions {
  margin: auto;
  width: 90%;
  padding: 15px;
  border: none !important;
}
.card-start {
  justify-content: center;
  background: rgba(250, 253, 255, 0.6);
}
.start-card-body {
  border-style: solid;
  border-radius: 0px;
  border-color: rgba(47, 156, 245, 0.2);
  padding: 3%;
}
*/
/*HEADER */
/*
h1, h2, h3, h4, h5 {
  text-transform: uppercase;
  font-weight: bold;
  color: rgba(13, 114, 196, 0.99);

}
a, i {
  color: rgba(13, 114, 196, 0.99);

}
*/
.message-text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  font-weight: bold;
}

/*TABS */

/* Layout */

.hello-msg {
  font-size: larger;
  font-weight: bold;
  color: rgb(68, 8, 129);
}

.tab-container {
  padding-top: 2%;
}
/* @import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css'); */

.nav-tab {
    margin-bottom: 0px;
    padding-top: 45px;
    background-color: rgb(87, 85, 85);
    /*font-weight: bolder;*/
    font-family: "Poppins";
    text-align: center;

}

/* Tabs */

li.nav-item {
  font-weight: bolder;
  height: 35px;
}

.gig-tab {
    border: none;
    background-color: transparent !important;
    height: 30px;
    align-items: center;
    font-weight: bolder;
    font-size: medium;
    justify-content: center;
    color: #f8f9fc !important;
    background-color: transparent;
    margin-bottom: 10px;
}


.gig-tab:hover {
  color: rgba(170, 173, 175, 0.99) !important;
}
/*
[data-tab-content] {
  display: none;
}
/*
.active[data-tab-content] {
  display: block;
}
/*
.gig-tab {
  list-style-type: none;
}
.tab:hover {
  background-color: rgba(47, 156, 245, 0.1);
}
*/
/* LAYOUT */

/* Container */

.container {
  padding-top: 0% !important;
  margin-bottom: 70px !important;
  padding-bottom: 3%;
  display: flex;
  justify-content: center;
  border-radius: 0;
  box-shadow: 0 15px 15px rgba(240, 239, 239, 0.6);
}
.home-container {
  padding-top: 5%;
  margin: 10%;
  padding-bottom: 10%;
}
/*
.container-profile,
.container-gig {
  margin: 7%;
  padding-bottom: 10%;
}

.start-container {
  background-color: #222121 !important;
  z-index: 1000 !important;
}

.container-content {
  padding: 5% 10%;
  margin: 5% 10%;
}
*/
.box-right {
  display: flex;
  align-items: right;
  justify-content: right;
  align-items: flex-center;
}

.center {
  margin: auto;
  width: 70%;
  padding: 15px;
  border: none !important;
}
*, ::after, ::before {
  box-sizing: none;
}

/* Start modal */

.modal-btn {
  color: ivory;
  width: 15%;
}

/* CARDS */

/* Profile, gigs and network */
/*
.btn-card {
  background-color: rgba(240, 239, 239, 0.2);
  color: rgba(13, 114, 196, 0.99);
}
*/
.gig-card,
.contact-card,
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /* padding: 2%; */
  text-align: left;
  border-radius: none;
  /*margin-left: 0.5px;
  margin-right: 0.5px; */
  background-color: rgba(255, 250, 250, 0.2);
  border-color: rgba(255, 250, 250, 0.2);
}

.card-body {
  background-color: rgba(255, 254, 255, 0.95);
}

.card:hover,
.profile-card:hover {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.card-frame{
  padding-left: 3%;
  padding-right: 3%;
  margin-bottom: 1%;
  color: rgba(240, 239, 239, 0.2);
}
.card-center {
  height: 80%;
  align-content: center;
  padding: 10px;
  border: none !important;
}


/* IMAGES & PICTURES */

/* js modal */
.not-visible {
  display: none;
}
.avatar {
  width: 50px;
  height: 55px;
  border-radius: 50%;
  background-size: cover;
  background-position: top center;
}
.profile-pic {
  width: 200px;
}

/* BUTTONS & LINKS */

label {
  display: none;
}

.btn {
  color: white;
  border-color: rgba(96, 185, 236, 0.2);
  background-color:#1f53fc;
  font-size: medium !important;
  border-radius: 1px;
  font-weight: bold;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn:hover {
  color: white;
  border-color: rgba(96, 185, 236, 0.2);
  background-color:#3d69fa;
  font-size: medium !important;
  border-radius: 1px;
  font-weight: bold;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-title,
.fa-cog,
.fa-user,
.fa-suitcase,
.fa-universal-access,
.fa-users,
#profileTab,
h1, h2, h3, h4, h5 {
  color:#1f53fc;
}
.card-title:hover,
.fa-cog:hover,
.fa-user:hover,
.fa-suitcase:hover,
.fa-universal-access:hover,
.fa-users:hover,
#profileTab,
h1, h2, h3, h4, h5 {
  color:#69718a;
}

/* Home/Index page */

.start-buttons {
  width: 68%;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/*
#login,
#signin {
  color: rgba(47, 156, 245, 0.69);
  border-color: rgba(47, 156, 245, 0.75);
  background-color: rgba(47, 156, 245, 0.6);

}
.signup-button,
.login-button {
  border: none;
  background-color: rgba(47, 156, 245, 0.6);
  color: rgba(246, 249, 250, 0.99);
  font-size: medium;
}
*/
/* Default */
/*
button, a {
  font-family: "Poppins";
  text-transform: uppercase;
  border-radius: 1px;
  text-decoration: none;
  font-weight: bold;
  font-size: small;
  color: rgba(13, 114, 196, 0.99);
}

.btn {
  background-color: rgba(13, 114, 196, 0.99);
}
/*
.btn-sub:hover,
.btn-sub:active,
.btn-sub:focus
.btn:hover,
.btn:active,
.btn:focus {
  background-color: rgba(3, 65, 180, 0.9);
}

span.btn-sub {
  color: rgba(3, 104, 187, 0.9);
}
*/
/* ICONS */

/* Style */


/*
.btn-sub {
  color: rgb(246, 247, 252);
  z-index: 500;
  border-color: rgba(65, 106, 182, 0.863);
  border-radius: 1px;
  font-size: small;
  text-decoration: none;
  border-radius: 1px;
  background-color: rgba(30, 30, 31, 0.137);
  padding: 5px
}

.btn-sub:hover {
  color: rgb(44, 97, 196);
}

.btn {
  color: rgba(251, 253, 255, 0.99)!important;
  background-color: rgba(19, 88, 214, 0.99)!important;
}
*/
/* -- Nav button subscription icon -- */


.button-sub {
  width: 130px;
  height: 30px;
  background: none;
  background-color: none;
  font-family: Poppins;
  font-size: 14px;
  color:#1f53fc;
}
@media screen and (max-width: 600px) {
  .button-sub {
      display: none;
  }
}

#settings,
#subscription {
  text-decoration: none;
  background: transparent;
  margin-top: 14px;  

}

/*
.fa-cog:hover,
.icon-text:hover,
.fa-universal-access:hover {
  color: rgba(19, 91, 226, 0.89);
}
*/
/* Wrappers */
.wrapper {
  display: inline-flex;
}

.wrapper .icon {
  position: relative;
  font-size: 24px;
  color:#1f53fc;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper.tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background-color: transparent;
  color: transparent;
  padding: 5px 10px;
  align-items: center;
  border-radius: 70%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 6px;
  width: 6px;
  background-color: transparent;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
/*
.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}
*/
.wrapper .user-circle:hover .tooltip,
.wrapper .user-circle:hover .tooltip::before,
.wrapper .search:hover .tooltip,
.wrapper .search:hover .tooltip::before,
.wrapper .suitcase:hover .tooltip,
.wrapper .suitcase:hover .tooltip::before,
.wrapper .users:hover .tooltip,
.wrapper .users:hover .tooltip::before,
.wrapper .cog:hover .tooltip,
.wrapper .cog:hover .tooltip::before,
.wrapper .fa-universal-access:hover .tooltip,
.wrapper .fa-universal-access:hover .tooltip::before,
.wrapper .envelope:hover .tooltip,
.wrapper .envelope:hover .tooltip::before {
  color:#d9e1fa;
  font-weight: bold;
  font-size: medium;
  border-radius: 60%;
  background-color: rgba(66, 66, 66, 0.85);
  padding: 5px 10px;
}
/*
.wrapper .user-circle:hover,
.wrapper .search:hover,
.wrapper .suitcase:hover,
.wrapper .cog:hover,
.wrapper .fa-universal-access:hover,
.wrapper .users:hover,
.wrapper .user:hover,
.wrapper .envelope:hover {
  color:#1f53fc;
}
*/
/* SCREEN LAYOUTS */


/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
}

/* LOGIN */

/*
#justify-center {
  margin: auto;
  width: 70%;
  padding: 15px;
  border: none !important;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.errorlist {
display: none !important;
}
label {
display: none;
}
p {
height: 20px;
}
*/

/* FORMS */

/*
.form-group {
  margin: 20px;
}
.user_card {
  width: 70%;
  margin-top: auto;
  margin-bottom: auto;
  background: #ffffff;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.form_container {
  margin-top: 30px;
  width: 670%;
  align-items: center;
}
#form-title {
  color: #fff;
}

.login_btn {
  width: 100%;
  background: rgba(141, 133, 133, 0.7) !important;
  color: white !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium;
  font-weight: bold;
}
.login_btn:focus {
  box-shadow: none !important; 
  outline: 0px !important;
}
.login_container {
  padding: 0 2rem;
}
'7'
.input-group-text {
  background: #f7ba5b !important;
  color: white !important;
  border: 0 !important;
  border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
#messages {
  background-color: grey;
  color: #fff;
  padding: 10px;
  margin-top: 10px;
}