/* Body content */

body {
	background: url('/media/images/background.jpg') no-repeat center center fixed;
	background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: "Lato";
}

.not-visible {
  display: none;
}

/* Top Navbar */
.fa-user-cog,
.icon-text {
  color: rgba(47, 156, 245, 0.99);
}
.fa-user-cog:hover,
.icon-text:hover,
.fa-user-cog:active,
.icon-text:active {
  color: rgba(47, 156, 245, 0.79);
}
/* Containers Header and Content */

.tab-container {
  padding-top: 4%;;
}
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css');

.container,
.nav-tabs {
    margin-top: 10px;
    padding-top: 80px;
  }
.tab-content,
.container-content {
  padding: 10px;
  padding-left: 3%;
  padding-right: 3%;
}

.welcome {
    padding-left: 3%;
}

/* Collapeble boxes */
.collapse {
  &:not(.show) {
    display: none;
  }
}

.collapsing {
  height: 0;
  overflow: hidden;
  @include transition($transition-collapse);
}

/* Profile Layout */

.container-profile,
.card {
    padding: 3%;
    background-color: #FFFFFF;
    justify-content: center;
    align-items: center;
    margin-bottom: 4%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.container-profile:hover,
.card:hover {
    padding: 3%;
    background-color: #FFFFFF;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
    box-shadow: 0 15px 15px rgba(240, 239, 239, 0.4);
}
/* Navbars */

.nav-2 {
    height: 55px;
}

button, li, a {
    font-family: "Poppins";
    text-transform: uppercase;
    font-weight: bold;
    font-size: small;
    color: rgba(47, 156, 245, 0.99);
}

.btn {
  background-color: rgba(47, 156, 245, 0.99);
}
.btn:hover,
.btn:active,
.btn:focus {
  background-color: rgba(47, 156, 245, 0.79);
}

/* Bottom & Top links */

.gig-button {
    color: white;
    background-color: lightslategrey;
    border-style: none;
    size: 16px;
}
.gig-button:hover {
    background-color: slategrey;
    size: 18px;
}

.search-bar {
    align-items: baseline;
    justify-content: space-evenly;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

.wrapper {
  display: inline-flex;
}

.wrapper .icon {
  position: relative;
  font-size: 24px;
  color: rgba(47, 156, 245, 0.99);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background-color: transparent;
  color: transparent;
  padding: 5px 8px;
  align-items: center;
  border-radius: 70%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 6px;
  width: 6px;
  background-color: transparent;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .user-circle:hover .tooltip,
.wrapper .user-circle:hover .tooltip::before,
.wrapper .search:hover .tooltip,
.wrapper .search:hover .tooltip::before,
.wrapper .suitcase:hover .tooltip,
.wrapper .suitcase:hover .tooltip::before,
.wrapper .users:hover .tooltip,
.wrapper .users:hover .tooltip::before,
.wrapper .cog:hover .tooltip,
.wrapper .cog:hover .tooltip::before,
.wrapper .envelope:hover .tooltip,
.wrapper .envelope:hover .tooltip::before {
  color: rgba(47, 156, 245, 0.89);
  font-weight: bold;
  font-size: large;
  background-color: rgba(217, 255, 4, 0.05);
}

.wrapper .user-circle:hover,
.wrapper .search:hover,
.wrapper .suitcase:hover,
.wrapper .cog:hover,
.wrapper .users:hover,
.wrapper .envelope:hover {
  color: rgba(47, 156, 245, 0.89);
}

/* Header Tab container */

@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css');
.container {
    margin-top: 10px;
}

/* Containers Content */

.container-content {
    padding-bottom: 6%;
}
.container-profile,
.card {
    padding: 3%;
    background-color: #FFFFFF;
    justify-content: center;
    align-items: center;
    margin-bottom: 4%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}
.card-frame {
  padding-left: 3%;
  padding-right: 3%;
}

.container-profile:hover,
.card:hover {
    padding: 3%;
    background-color: #FFFFFF;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
    box-shadow: 0 15px 15px rgba(240, 239, 239, 0.4);
}


/*  Media Queries from Buetiq Ado */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

<<<<<<< HEAD
/* Screen layout */

@include media-breakpoint-only(xs) {
  .tab-container {
    padding: 6%;
    position: fixed;
    overflow-y: scroll;
    height: 40%;
  }
}
@include media-breakpoint-only(sm) {
  .tab-container {
    position: fixed;
    padding: 2%;
    overflow-y: scroll;
    height: 40%;
  }
}
@include media-breakpoint-only(md) {
  .tab-container {
    position: fixed;
    padding: 1%;
    overflow-y: scroll;
    height: 40%;
  }
}

@include media-breakpoint-only(lg) {
  .tab-container {
    position: fixed;
    overflow-y: scroll;
    height: 40%;
  }
}
@include media-breakpoint-only(xl) {
  .tab-container {
    position: fixed;
    overflow-y: scroll;
    height: 40%;
  }
}
@include media-breakpoint-only(xxl) {
  .tab-container {
    position: fixed;
    overflow-y: scroll;
    height: 40%,
    position:absolute;
    top:20px;
    left:60px;
    margin-right:30px;
  }
}
=======
>>>>>>> 488e657 (Recover project files and update migrations.)
