
/* LAYOUT */

body { 
	background: url('/static/images/partners.jpg') no-repeat center center fixed;
	background-size: cover;
  height: calc(100vh - 164px);
  color: #555;
  font-family: "Lato";
}

.center {
  margin: auto;
  width: 70%;
  padding: 15px;
  border: none !important;
}
.logo {
  display: url('/media/biznetname.png.jpg');
}


/* NAVBAR */

#topnav,
#bottom-nav {
  background-color: rgba(252, 249, 249, 0.7);
  height: 55px;
}

/* ICONS */

.card-title,
.fa-cog,
.fa-user,
.fa-suitcase,
.fa-universal-access,
.fa-users,
#profileTab {
  color:#406daf;
}

.card-title:hover,
.fa-cog:hover,
.fa-user:hover,
.fa-suitcase:hover,
.fa-universal-access:hover,
.fa-users:hover,
#profileTab {
  color:#7e90b6;
}

#settings,
#subscription {
  text-decoration: none;
  background: transparent;
  margin-top: 1px;  
}

/*TABS */

/* Layout */
/*
.hello-msg {
  font-size: larger;
  font-weight: bolder;
  color: rgb(68, 8, 129);
}
*/
.tab-container {
  padding-top: 2%;
}
/* @import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css'); */

.nav-tab {
  margin-top: 39px;
  position: sticky;
  padding-top: 0px;
  color: rgba(2, 2, 2, 0.733);
  background-color: rgba(247, 245, 245, 0.01);
  font-stretch: 150%;
  font-family: "Lato";
  text-align: center;
}

li.nav-item {
  font-stretch: 150%;
  height: 35px;
}

.gig-tab {
  border: none;
  background-color: transparent !important;
  height: 30px;
  align-items: center;
  font-weight: bolder;
  font-size: medium;
  justify-content: center;
  color: #303031 !important;
  background-color: transparent;
  margin-bottom: 10px;
}

.gig-tab:hover {
color: rgba(170, 173, 175, 0.99) !important;
}

/* FONT */

h1, h2, h3, h4, h5 {
  color:#406daf;
}
h6, p {
  color: rgba(2, 2, 2, 0.8);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.message-text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  font-weight: bold;
}
/*
[data-tab-content] {
  display: none;
}
/*
.active[data-tab-content] {
  display: block;
}

/* LAYOUT */

/* Container */

.container {
  padding-top: 0% !important;
  margin-bottom: 70px !important;
  padding-bottom: 3%;
  display: flex;
  justify-content: center;
  border-radius: 0;
  box-shadow: 0 15px 15px rgba(240, 239, 239, 0.6);
}

/*
.box-right {
  display: flex;
  align-items: right;
  justify-content: right;
  align-items: flex-center;
}
*/

/*
*, ::after, ::before {
  box-sizing: none;
}
*/

/* Start modal */

.modal-btn {
  color: ivory;
  width: 15%;
}

/* CARDS */

.card {
  text-align: left;
  border-radius: none;
  background-color: rgba(253, 251, 251, 0.85) !important;
  border-color: rgba(255, 250, 250, 0.2);
}

.card-body {
  background-color: rgba(255, 255, 255, 0.05);
  margin: 15px;
}

.card:hover,
.profile-card:hover {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}
/*
.card-frame{
  padding-left: 3%;
  padding-right: 3%;
  margin-bottom: 1%;
  color: rgba(240, 239, 239, 0.2);
}

.card-center {
  height: 80%;
  align-content: center;
  padding: 10px;
  border: none !important;
}
*/

/* IMAGES & PICTURES */

/* js modal */
.not-visible {
  display: none;
}
.avatar {
  width: 50px;
  height: 55px;
  border-radius: 50%;
  background-size: cover;
  background-position: top center;
}
.profile-pic {
  width: 200px;
}

/* BUTTONS & LINKS */

label {
  display: none;
}

.btn {
  color: white !important;
  border-color: rgba(210, 233, 247, 0.2) !important;
  background-color:#406daf !important;
  font-size: medium !important;
  border-radius: 1px;
  font-weight: bold;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn:hover {
  color: white;
  border-color: rgba(96, 185, 236, 0.2);
  background-color:#768cb8;
  font-size: medium !important;
  border-radius: 1px;
  font-weight: bold;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*
.pushable {
  background: rgb(108, 112, 132, 0.8);
  border-radius: 5px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 5px;
}

.front {
  display: block;
  padding: 6px 42px;
  border-radius: 5px;
  height: 40px;
  font-size: 18px;
  background: rgba(119, 165, 235, 0.99);
  color: white;
  font-weight: bold;
  border-color: rgba(149, 163, 197, 0.99);
  transform: translateY(-6px);
}

.front:hover {
  display: block;
  padding: 6px 42px;
  border-radius: 5px;
  height: 40px;
  font-size: 18px;
  background: rgba(102, 130, 206, 0.99);
  color: white;
  font-weight: bolder;
  transform: translateY(-6px);
}

.pushable:active .front {
  transform: translateY(-2px);
}

.button-container {
  display:flex;
  margin:auto;
}
.btn-grad {background-image: linear-gradient(to right, #6190E8 0%, #A7BFE8  51%, #6190E8  100%)}
   .btn-grad {
      padding: 5px 10px;
      text-align: center;
      text-transform: uppercase;
      position: center !important;
      transition: 0.5s;
      background-size: 200% auto;
      color: white;            
      box-shadow: 0 0 20px #eee;
      border-radius: 5px;
      display: block;
    }

    .btn-grad:hover {
      background-position: right center; /* change the direction of the change here */
      /*
      color: #fff;
      text-decoration: none;
    }
*/
/* Home/Index page */
/*
.start-buttons {
  width: 68%;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  text-align: center;
}
*/
.button-sub {
  width: 130px;
  height: 30px;
  background: none;
  background-color: none;
  font-family: Poppins;
  font-size: 14px;
  color: #406daf;
}
@media screen and (max-width: 600px) {
  .button-sub {
      display: none;
  }
}
/*
.fa-cog:hover,
.icon-text:hover,
.fa-universal-access:hover {
  color: rgba(19, 91, 226, 0.89);
}
*/

/* Wrappers */

.wrapper {
  display: inline-flex;
}

.wrapper .icon {
  position: relative;
  font-size: 24px;
  color: #406daf;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper.tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background-color: transparent;
  color: transparent;
  padding: 5px 10px;
  align-items: center;
  border-radius: 70%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 6px;
  width: 6px;
  background-color: transparent;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .user-circle:hover .tooltip,
.wrapper .user-circle:hover .tooltip::before,
.wrapper .search:hover .tooltip,
.wrapper .search:hover .tooltip::before,
.wrapper .suitcase:hover .tooltip,
.wrapper .suitcase:hover .tooltip::before,
.wrapper .users:hover .tooltip,
.wrapper .users:hover .tooltip::before,
/* .wrapper .cog:hover .tooltip,
.wrapper .cog:hover .tooltip::before, */
.wrapper .fa-universal-access:hover .tooltip,
.wrapper .fa-universal-access:hover .tooltip::before,
.wrapper .envelope:hover .tooltip,
.wrapper .envelope:hover .tooltip::before {
  color: #406daf;
  font-weight: bolder;
  font-size: medium;
  border-radius: 60%;
  background-color: rgba(243, 242, 242, 0.55);
  padding: 5px 10px;
}

/* SCREEN LAYOUTS */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
}


/* LOGIN */

/*
#justify-center {
  margin: auto;
  width: 70%;
  padding: 15px;
  border: none !important;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.errorlist {
display: none !important;
}
label {
display: none;
}
p {
height: 20px;
}
*/

/* FORMS */

/*
.form-group {
  margin: 20px;
}
.user_card {
  width: 70%;
  margin-top: auto;
  margin-bottom: auto;
  background: #ffffff;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.form_container {
  margin-top: 30px;
  width: 670%;
  align-items: center;
}
#form-title {
  color: #fff;
}

.login_btn {
  width: 100%;
  background: rgba(141, 133, 133, 0.7) !important;
  color: white !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium;
  font-weight: bold;
}
.login_btn:focus {
  box-shadow: none !important; 
  outline: 0px !important;
}
.login_container {
  padding: 0 2rem;
}
'7'
.input-group-text {
  background: #f7ba5b !important;
  color: white !important;
  border: 0 !important;
  border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
#messages {
  background-color: grey;
  color: #fff;
  padding: 10px;
  margin-top: 10px;
}