
.profile-card {
    width: 140px;
    border-radius: 1px;
}
h1, h5 {
    font-weight: bolder;
    color: rgba(44, 44, 44, 0.96);
    font-weight: bolder;
}
.btn {
    color: white !important;
    border-color: rgba(96, 185, 236, 0.2);
    background-color:#1f53fc !important;
    font-size: medium !important;
    border-radius: 1px;
    height: 40px;
    text-transform: uppercase;
    font-weight: bolder;
    padding-right: 15px;
    border-radius: 1px !important;
    padding-left: 15px;
    text-decoration: none;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

.btn:hover {
    color: white;
    border-color: rgba(96, 185, 236, 0.2);
    background-color:#4a4e5f !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
 
label {
    display: none;
}

/* Membership Profile page */

    .profile-card {
        width: 140px;
        border-radius: 1px;
    }

    .card-link,
    .btn {
        color: white;
        border-color: rgba(96, 185, 236, 0.2);
        background-color: rgba(9, 143, 221, 0.9) !important;
        font-size: medium !important;
        height: 40px;
        font-weight: bolder;
        padding-right: 15px;
        border-radius: 1px;
        padding-left: 15px;
        text-decoration: none;
        box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -moz-box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .btn:hover,
    .btn:active,
    .btn:focus {
        color: white;
        border-color: rgba(96, 185, 236, 0.2);
        background-color: rgba(4, 102, 168, 0.9) !important;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    }

    label {
        display: none;
    }

    /* Subscription Profile page */

    .profile-card {
        width: 140px;
        border-radius: 1px;
    }

    .card-link,
    .btn {
        color: white;
        border-color: rgba(96, 185, 236, 0.2);
        background-color: rgba(9, 143, 221, 0.9) !important;
        font-size: medium !important;
        height: 40px;
        font-weight: bolder;
        padding-right: 15px;
        border-radius: 1px;
        padding-left: 15px;
        text-decoration: none;
        box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -moz-box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .btn:hover,
    .btn:active,
    .btn:focus {
        color: white;
        border-color: rgba(96, 185, 236, 0.2);
        background-color: rgba(4, 102, 168, 0.9) !important;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    }

    /*
    .card-header {
        background-color: white;
    }

    .card-title {
        font-size: large;
        font-weight: bolder;
        padding: auto;
        color: rgba(9, 143, 221, 0.9);
    }


    .gig-text {
        font-size: medium;
        color: rgb(5, 5, 5);
    }

    
.card-body {
        padding: 20px;
    }
*/
    label {
        display: none;
    }

    /* Payment History */

    .profile-card {
        width: 140px;
        border-radius: 1px;
    }

    .card-link,
    .btn {
        color: white;
        border-color: rgba(96, 185, 236, 0.2);
        background-color: rgba(9, 143, 221, 0.9) !important;
        font-size: medium !important;
        height: 40px;
        font-weight: bolder;
        padding-right: 15px;
        border-radius: 1px;
        padding-left: 15px;
        text-decoration: none;
        box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -moz-box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .btn:hover,
    .btn:active,
    .btn:focus {
        color: white;
        border-color: rgba(96, 185, 236, 0.2);
        background-color: rgba(4, 102, 168, 0.9) !important;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    }

    /*
    .card-header {
        background-color: white;
    }

    .card-title {
        font-size: large;
        font-weight: bolder;
        padding: auto;
        color: rgba(9, 143, 221, 0.9);
    }


    .gig-text {
        font-size: medium;
        color: rgb(5, 5, 5);
    }

    
.card-body {
        padding: 20px;
    }
*/
    label {
        display: none;
    }

    /* Success and Cancelation */

    .profile-card {
        width: 140px;
        border-radius: 1px;
    }

    .card-link,
    .btn {
        color: white;
        border-color: rgba(96, 185, 236, 0.2);
        background-color: rgba(9, 143, 221, 0.9) !important;
        font-size: medium !important;
        height: 40px;
        font-weight: bolder;
        padding-right: 15px;
        border-radius: 1px;
        padding-left: 15px;
        text-decoration: none;
        box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -moz-box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .btn:hover,
    .btn:active,
    .btn:focus {
        color: white;
        border-color: rgba(96, 185, 236, 0.2);
        background-color: rgba(4, 102, 168, 0.9) !important;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    }

    /*
    .card-header {
        background-color: white;
    }

    .card-title {
        font-size: large;
        font-weight: bolder;
        padding: auto;
        color: rgba(9, 143, 221, 0.9);
    }


    .gig-text {
        font-size: medium;
        color: rgb(5, 5, 5);
    }

    
.card-body {
        padding: 20px;
    }
*/
    label {
        display: none;
    }
