{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<style>
    #justify-center {
        margin: auto;
        width: 90%;
        padding: 10px;
        border: none !important;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: large;
    }
  
    /*
    .errorlist {
      display: none !important;
    }
  
    .form-check {
        padding: 25px;
    }
  */
  label {
      display: none;
    }
    #id_email,
    #id_username,
    #id_password1,
    #id_password2 {
        width: 100%;
        height: 50px;
        background-color: white !important;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        font-size: large;
    }
  
    input {
        width: 70%;
        height: 40px;
        background-color: white !important;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: large;
    }
  
    a,
    p,
    .link,
    h2 {
        text-align: center;
        font-size: medium;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
  
    .form_container {
        margin-top: 10px;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
  
    /* BUTTONS */
  
    .btn {
        border-width: 2px;
        color: white;
        border-color: rgba(148, 149, 150, 0.2);
        background-color: rgba(131, 133, 134, 0.8) !important;
        width: 80%;
        height: 50px;
        margin-top: 2%;
        font-weight: bold;
        text-align: center;
        font-size: medium !important;
        box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -moz-box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  
    .btn:hover,
    .btn:active,
    .btn:focus {
        background-color: rgba(94, 95, 95, 0.792) !important;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    }
  
    /*
    .login_container {
        padding: 0 1rem;
    }
  */
    .form-control {
        width: 100%;
        height: 60px;
        margin: 1%;
        text-align: center;
        font-size: large !important;
    }
  
    #link {
        color: deeppink;
    }
  
    .password_reset {
        border: none;
    }
  
    /*
    .input-group-text {
        border-radius: 0.25rem 0 0 0.25rem !important;
    }
  
    .input_user,
    .input_pass:focus {
        box-shadow: none !important;
        outline: 0px !important;
    }
  */
    #messages {
        background-color: rgba(236, 10, 10, 0.753);
        color: rgb(247, 243, 243);
        font-weight: bolder;
        padding: 10px;
        margin-top: 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
  </style>
  <div class="container" id="justify-center">
  
    <!-- Logo -->
    <div id="justify-center">
      <div class="col-6 col-lg-4" id="justify-center">
        <a href="{% url 'home' %}" class="nav-link main-logo-link">
          <img
            src="https://static.wixstatic.com/media/e64c63_b290d859fd03448bad1976ef606f894e~mv2.png/v1/fill/w_378,h_88,al_c,lg_1,q_85/Ska%CC%88rmavbild%202021-05-23%20kl_%2020_40_47.webp"
            alt="" width="210" height="50" class="logo img-fluid">
        </a>
      </div>
    </div>
    <br>
  
    <div class="user_card" id="justify-center">
      <div class="d-flex form_container" id="justify-center">
    <h1>{% trans "Password Reset" %}</h1>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>{% blocktrans %}We have sent you an e-mail. Please contact us at <strong>info@biznet.com</strong> if you do not receive it within a few minutes.{% endblocktrans %}</p>
</div>
</div>
</div>
{% endblock %}
