{% load static %}

<!doctype html>
<html lang="en">

<head>

    {% block meta %}

    <!-- Required meta tags -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}

    <!-- Fonts Awesome Kit CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400&family=Poppins:wght@200;300;400&display=swap" rel="stylesheet">

    <!-- Cropper for image avatar -->
    <link rel="stylesheet" herf="https://cdnjs.cloudflare.com/ajax/libs/cropper/4.1.0/cropper.css">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    
    <!-- Custormer css -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    {% endblock %}

    {% block extra_css %}

    <!-- Favicon links 
    <link rel="apple-touch-icon" sizes="180x180" href="static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/favicon/favicon-16x16.png"> -->
    {% endblock %}

    {% block corejs %}

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- Fonts Awesome Kit JS -->
    <script src="https://kit.fontawesome.com/5c25e53934.js" crossorigin="anonymous"></script>


    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>

    <!-- Custormer js -->
    <script type="text/javascript" src="{% static 'js/app.js' %}" defer></script>

    <!-- Cropper for image avatar -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropper/4.1.0/cropper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>    

    {% endblock %}

    {% block scripts %}
    {% endblock scripts %}

    {% block extra_js %}
    {% endblock %}

    <title>BizNet {% block extra_title %}{% endblock %}</title>

</head>

<body>

    <header class="container-fluid fixed-top">
        <div id="topnav" class="row navbar-light bg-light justify-content-between">

            <!-- BizNet Logo -->
            <div class="col-6 col-lg-4 my-auto py-1 py-lg-0 text-lg-left">
                <a href="{% url 'home' %}" class="nav-link main-logo-link">
                    <img src="https://static.wixstatic.com/media/e64c63_b290d859fd03448bad1976ef606f894e~mv2.png/v1/fill/w_378,h_88,al_c,lg_1,q_85/Ska%CC%88rmavbild%202021-05-23%20kl_%2020_40_47.webp" alt="" width="210" height="50" class="logo img-fluid">
                </a>
            </div>

            <!-- Top navbar links  -->
            <div class="col-6 col-lg-4 my-auto py-1 py-lg-0">
                <ul class="list-inline list-unstyled text-end my-0">

                    <li class="list-inline-item dropdown">
                        <a class="text-black nav-link " href="#" id="user-options" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                <div><i class="fas fa-user-cog fa-lg"></i></div>
                                <p class="my-0 icon-text">Setting</p>
                            </div>
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                            <a href="" class="dropdown-item">Admin</a>

                            {% endif %}

                            <a href="{% url 'profile_details' %}" class="dropdown-item">My Profile</a>
                            <a href="{% url 'gig' %}" class="dropdown-item">Gigs</a>
                            <a href="{% url 'network' %}" class="dropdown-item">Membership</a>
                            <!-- <a href="{% url 'profile_details' %}" class="dropdown-item">Profile Details</a> -->
                            <a href="{% url 'my_profile' %}" class="dropdown-item">Network</a>
                            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>

                            {% else %}

                            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>

                            {% endif %}

                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </header>

    {% if messages %}
    <div class="message-container"></div>
    {% endif %}

    <!-- Tabs and links for pages -->
    {% block page_header %}
    {% endblock %}

    <!-- Main BizNet site -->
    {% block content %}
    {% endblock %}
  

    <!-- Fixed footer nav -->
    <nav class="navbar fixed-bottom navbar-light bg-light nav-2">
        <div class="container-fluid wrapper">
            
            {% if user.is_authenticated %}
            <a class="flex-sm-fill nav-link align-items-start" id="fas" aria-current="page" href=" {% url 'network' %}">
                <div class="icon users text-center">
                    <div class="tooltip">NETWORK</div>
                    <span><i class="fas fa-users"></i></span>
                </div>
            </a>
                {% else %}
            <a class="flex-sm-fill nav-link align-items-start" id="fas" aria-current="page" href="#">
                <div class="icon users text-center">
                    <div class="tooltip">NOT AUTHORIZED</div>
                    <span><i class="fas fa-users"></i></span>
                </div>
            </a>
                {% endif %}



            <!-- 
            <div class="col-5 col-lg-3 my-auto py-1 py-lg-0">
                <form method="GET" action="">
                    <div class="input-group w-80">
                        <input class="form-control border border-black rounded-0" type="text" name="q"
                            placeholder="Search our site">
                        <div class="input-group-append">
                            <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
                -->
                {% if user.is_authenticated %}

                <a class="flex-sm-fill text-sm-center nav-link text-center" id="fas" href="{% url 'gig' %}">
                <div class="icon suitcase text-center">
                    <div class="tooltip">GIGS</div>
                    <span><i class="fas fa-suitcase"></i></span>
                </div>
            </a>
            {% else %}
            <a class="flex-sm-fill text-sm-center nav-link text-center" id="fas" href="#">
                <div class="icon suitcase text-center">
                    <div class="tooltip">NOT AUTHORIZED</div>
                    <span><i class="fas fa-suitcase"></i></span>
                </div>
            </a>
            {% endif %}

        </div>
    </nav>



    <!-- Custom js -->
    {% block postloadjs %}
    <script type=" text/javascript" src="{% static 'profileusers/js/countryfield.js' %}"></script>
    {% endblock %}


</body>

</html>