{% extends "base.html" %}
{% load static %}


{% block page_header %}
<!-- Nav tabs -->

<ul class="nav nav-tabs justify-content-evenly">
    <li><a href="{% url 'new_gig' %}" data-toggle="tab">New</a></li>
    <li><a href="{% url 'saved_gig' %}" data-toggle="tab">Saved</a></li>
    <li><a href="{% url 'apply_gig' %}" data-toggle="tab">Applied</a></li>
    <li><a href="{% url 'hide_gig' %}" data-toggle="tab">Hidden</a></li>
</ul>

<div class="tab-content" id="tabs">
    <div class="tab-pane" id="new_gig">Show new gigs:</div>
    <div class="tab-pane" id="saved_gig">Your saved gigs:</div>
    <div class="tab-pane" id="apply_gig">Gigs you applied for:</div>
    <div class="tab-pane" id="hide_gig">Hidden gigs</div>
</div>

{% endblock %}

{% block content %}

<div id="test">
    {{ greeting }}
</div>

<h2>
    Applied to gigs:
</h2>


<div class="container-fluid">

    <div class="row">
        <div class="gig-container col-10 offset-1">
            <div class="row">

                {% for obj in qs %}

                <!-- gig cards -->

                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-5">
                    <div class="card h-100 border-1">
                        <div class="card-body">
                            <h4 class="card-title">{{ obj.title }}</h4><br>
                            <div>
                                <p class="card-subtitle mb-2 text-muted small""> Industry: &nbsp; {{ obj.industry }} </p>
                                <p class=" card-subtitle mb-2 text-muted small""> City: &nbsp; {{ obj.city }} </p>
                                <p class="card-subtitle mb-2 small""> Deadline: &nbsp; {{ obj.deadline }} </p>
                            </div>
                            <br>

                            <div class=" text-center">
                                <p>{{ obj.gigdescription }}</p>
                                <p>
                                    <a class=" btn btn-primary btn-sm text-center" data-toggle="collapse"
                                        href="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">
                                        More Information
                                    </a>
                                </p>
                            </div>

                            <div class="collapse" id="collapseExample1">
                                <div class="card card-body">
                                    {{ obj.extrainfo }}
                                </div>
                            </div>

                            <div class="my-3 py-3">
                                <h6 class="card-subtitle mb-2 text-muted small">Created by: &nbsp; {{ obj.author }} </h6>
                                <h6 class="card-subtitle mb-2 text-muted small">{{ obj.created }} </h6>
                                <h6 class="card-subtitle mb-2 text-muted small"> Updated: &nbsp; {{ obj.updated }} </h6>
                            </div>

                            <div class="row align-items-end text-center">
                                <div class="col">
                                    <!-- <a href="#" class="card-link">View</a> -->
                                    <a href="{% url 'saved_gig' %}" class="card-link">Save</a>
                                    <a href="{% url 'apply_gig' %}" class="card-link">Apply</a>
                                    <a href="{% url 'hide_gig' %}" class="card-link">Hide</a>
                                </div>
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">

                        </div>
                    </div>
                </div>

                {% if forloop.counter|divisibleby:2 %}
                <div class="col-12 d-sm-none mb-5">
                    <hr>
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:2 %}
                <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                    <hr>
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:3 %}
                <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                    <hr>
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:4 %}
                <div class="col-12 d-none d-xl-block mb-5">
                    <hr>
                </div>
                {% endif %}


                {% endfor %}

            </div>
        </div>
    </div>

</div>


{% endblock %}