{% extends "base.html" %}
{% load static %}


{% block page_header %}
<!-- Nav tabs -->

<div class="tab-container">
    <ul class="nav nav-tab justify-content-evenly" id="gigTabs" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link gig-tab" id="new_gig_tab" data-bs-toggle="tab" data-bs-target="#new_gig" type="tab-button" role="tab"">New</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link gig-tab" id="saved_gig_tab" data-bs-toggle="tab" data-bs-target="#saved_gig" type="tab-button" role="tab">Saved</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link gig-tab active" id="apply_gig_tab" data-bs-toggle="tab" data-bs-target="#apply_gig" type="tab-button" role="tab">Applied</button>
          </li>    
        <li class="nav-item" role="presentation">
          <button class="nav-link gig-tab" id="hide_gig_tab" data-bs-toggle="tab" data-bs-target="#hide_gig" type="tab-button" role="tab">Hidden</button>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane show active" id="new_gig" role="tabpanel" aria-labelledby="new_gig_tab">..NEW...</div>
        <div class="tab-pane" id="saved_gig" role="tabpanel" aria-labelledby="saved_gig_tab">..SAVED..</div>
        <div class="tab-pane" id="apply_gig" role="tabpanel" aria-labelledby="apply_gig_tab">.APPLIED...</div>
        <div class="tab-pane" id="hide_gig" role="tabpanel" aria-labelledby="hide_gig_tab">..HIDDEN..</div>
      </div>
</div>

{% endblock %}

{% block content %}

<div id="test">
    {{ greeting }}
</div>

<h2>
    Applied to gigs:
</h2>


<div class="container-fluid">

    <div class="row">
        <div class="gig-container col-10 offset-1">
            <div class="row">

                {% for obj in qs %}

                <!-- gig cards -->

                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-5">
                    <div class="card h-100 border-1">
                        <div class="card-body">
                            <h4 class="card-title">{{ obj.title }}</h4><br>
                            <div>
                                <p class="card-subtitle mb-2 text-muted small""> Industry: &nbsp; {{ obj.industry }} </p>
                                <p class=" card-subtitle mb-2 text-muted small""> City: &nbsp; {{ obj.city }} </p>
                                <p class="card-subtitle mb-2 small""> Deadline: &nbsp; {{ obj.deadline }} </p>
                            </div>
                            <br>

                            <div class=" text-center">
                                <p>{{ obj.description }}</p>
                                <p>
                                    <a class=" btn btn-primary btn-sm text-center" data-toggle="collapse"
                                        href="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">
                                        More Information
                                    </a>
                                </p>
                            </div>

                            <div class="collapse" id="collapseExample1">
                                <div class="card card-body">
                                    {{ obj.contact }}
                                </div>
                            </div>

                            <div class="my-3 py-3">
                                <h6 class="card-subtitle mb-2 text-muted small">Created by: &nbsp; {{ obj.author }} </h6>
                                <h6 class="card-subtitle mb-2 text-muted small">{{ obj.created }} </h6>
                                <h6 class="card-subtitle mb-2 text-muted small"> Updated: &nbsp; {{ obj.updated }} </h6>
                            </div>

                            <div class="row align-items-end text-center">
                                <div class="col">
                                    <!-- <a href="#" class="card-link">View</a> -->
                                    <a href="#" class="card-link">Save</a>
                                    <a href="#" class="card-link">Apply</a>
                                    <a href="#" class="card-link">Hide</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                {% if forloop.counter|divisibleby:2 %}
                <div class="col-12 d-sm-none mb-5">
                    <hr>
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:2 %}
                <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                    <hr>
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:3 %}
                <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                    <hr>
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:4 %}
                <div class="col-12 d-none d-xl-block mb-5">
                    <hr>
                </div>
                {% endif %}


                {% endfor %}

            </div>
        </div>
    </div>

</div>


{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type=" text/javascript" src="{% static 'js/gig_script.js' %}"></script>
{% endblock %}
