{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block page_header %}

<!-- Nav tabs -->

<div class="tab-container">
    <ul class="nav nav-tab justify-content-evenly" id="gigTabs" role="tablist">

        <li class="nav-item" role="presentation">
            <form action="{% url 'new_gig' %}">
                <input type="submit" value="NEW" class="nav-link gig-tab" id="edit_profile_tab"
                    data-bs-toggle="tab" data-bs-target="#edit_profile" type="tab-button" role="tab" />
            </form>
        </li>
        <li class="nav-item" role="presentation">
            <form action="{% url 'saved_gig' %}">
                <input type="submit" value="SAVED" class="nav-link gig-tab" id="my_contacts_tab"
                    data-bs-toggle="tab" data-bs-target="#my_contacts" type="tab-button" role="tab" />
            </form>
        </li>
        <li class="nav-item" role="presentation">
            <form action="{% url 'my_gigs' %}">
                <input type="submit" value="MY GIGS" class="nav-link gig-tab" id="my_gig_tab" data-bs-toggle="tab"
                    data-bs-target="#my_gig" type="tab-button" role="tab" />
            </form>
        </li>
        <li class="nav-item" role="presentation">
            <form action="{% url 'create_gig' %}">
                <input type="submit" value="CREATE GIG" class="nav-link gig-tab" id="create_gig_tab"
                    data-bs-toggle="tab" data-bs-target="#create_gig" type="tab-button" role="tab" />
            </form>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane" id="new_gig" role="tabpanel" aria-labelledby="new_gig_tab"></div>

        <div class="tab-pane" id="saved_gig" role="tabpanel" aria-labelledby="saved_gig_tab"></div>
        <div class="tab-pane" id="my_gig" role="tabpanel" aria-labelledby="my_gig_tab"></div>

        <div class="tab-pane" id="create_gig" role="tabpanel" aria-labelledby="create_gig_tab"></div>

    </div>
</div>

{% endblock %}

{% block content %}
<style>
    .btn {
        color: white;
        border-color: rgba(96, 185, 236, 0.2);
        /* background-color: rgba(9, 143, 221, 0.9) !important; */
        font-size: small !important;
        height: 30px;
        font-weight: bold;
        padding-right: 10px;
        padding-left: 10px;
        font-weight: bolder;
        text-decoration: none;
        box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -moz-box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .btn:hover,
    .btn:active,
    .btn:focus {
        color: white;
        border-color: rgba(96, 185, 236, 0.2);
        background-color: rgba(88, 107, 119, 0.9) !important;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    }
    .btn-delete {
        background-color: rgba(192, 37, 37, 0.9) !important;
        color: white;
    }

    .btn-edit {
        background-color: rgba(9, 143, 221, 0.9) !important;
        color: white;
    }

    .card-header {
        /* height: 80px; */
        background-color: white;
    }

    .card-title,
    .card-teext {
        font-size: large;
        font-weight: bolder;
        padding: auto;
        color: rgba(9, 143, 221, 0.9);
    }

    .card-body {
        padding: 20px;
    }

/*
    label {
        display: none;
    }
*/
</style>

<div class="container-profile justify-center">

    <!-- Edit Profile -->
    <div class="card" style="max-width: 840px;">

        <div class="card-body">
            <div class="col-12">

                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Create Gig</legend>

                        {{ form|crispy }}
                        <!--<div class="card-body">
                            <h6 class="card-title">Title: &nbsp; {{form.title}}</h6>
                            <h6 class="card-title">Industry: &nbsp; {{form.industry}}</h6>
                            <h6 class="card-title">Profession: &nbsp; {{form.profession}}</h6>
                            <h6 class="card-title">City: &nbsp; {{form.city}}</h6>
                            <h6 class="card-title">Author: &nbsp; {{form.author}}</h6>
                            <h6 class="card-title">Deadline: &nbsp; {{form.deadline}}</h6>
                            <br>
                            <h6 class="card-text">Description: &nbsp; {{form.gigdescription}}</h6>
                            <br>
                            <h6 class="card-text">Contact Information: &nbsp; {{form.extrainfo}}</h6>
                        </div>-->
                    </fieldset>
                    <br>
                    <div class="row justify-content-evenly">
                        <!-- Edit button -->
                        <div class="text-center form-group">
                            <button class="btn btn-success" type="submit">CREATE</button>
                            <!--<a class="btn btn-success" type="submit">CREATE</a>-->
                            <!--<a class="" type="button" href="{% url 'profile_details' %}">Cancel</a>-->

                            <button class="btn btn-danger" href="{% url 'gig' %}" type="button">CANCEL</a>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
    <br>
    <br>

</div>


{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type=" text/javascript" src="{% static 'js/gig_script.js' %}"></script>
{% endblock %}

<script>
    /* Because i didnt set placeholder values in forms.py they will be set here using vanilla Javascript
  //We start indexing at one because CSRF_token is considered and input field 
  */

    // Query All input fields
    var form_fields = document.getElementsByTagName('input')
    /*
    form_fields[1].placeholder = 'First Name..';
    form_fields[2].placeholder = 'Last Name..';
    form_fields[3].placeholder = 'Email..';
*/
    form_fields[1].placeholder = 'Title..';
    form_fields[2].placeholder = 'City...';
    // form_fields[3].placeholder = 'Country...';

    for (var field in form_fields) {
        form_fields[field].className += 'form-control'
    }

</script>