{% extends "base.html" %}
{% load static %}


{% block page_header %}
<!-- Nav tabs -->

<div class="tab-container">
    <ul class="nav nav-tab justify-content-evenly" id="gigTabs" role="tablist">

        <li class="nav-item" role="presentation">
            <form action="{% url 'new_gig' %}">
                <input type="submit" value="NEW" class="nav-link gig-tab" id="edit_profile_tab"
                    data-bs-toggle="tab" data-bs-target="#edit_profile" type="tab-button" role="tab" />
            </form>
        </li>
        <li class="nav-item" role="presentation">
            <form action="{% url 'saved_gig' %}">
                <input type="submit" value="SAVED" class="nav-link gig-tab" id="my_contacts_tab"
                    data-bs-toggle="tab" data-bs-target="#my_contacts" type="tab-button" role="tab" />
            </form>
        </li>
        <li class="nav-item" role="presentation">
            <form action="{% url 'my_gigs' %}">
                <input type="submit" value="MY GIGS" class="nav-link gig-tab" id="my_gig_tab" data-bs-toggle="tab"
                    data-bs-target="#my_gig" type="tab-button" role="tab" />
            </form>
        </li>
        <li class="nav-item" role="presentation">
            <form action="{% url 'create_gig' %}">
                <input type="submit" value="CREATE GIG" class="nav-link gig-tab" id="create_gig_tab"
                    data-bs-toggle="tab" data-bs-target="#create_gig" type="tab-button" role="tab" />
            </form>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane" id="new_gig" role="tabpanel" aria-labelledby="new_gig_tab"></div>

        <div class="tab-pane" id="saved_gig" role="tabpanel" aria-labelledby="saved_gig_tab"></div>
        <div class="tab-pane" id="my_gig" role="tabpanel" aria-labelledby="my_gig_tab"></div>

        <div class="tab-pane" id="create_gig" role="tabpanel" aria-labelledby="create_gig_tab"></div>

    </div>
</div>

{% endblock %}

{% block content %}
<style>

    btn-link:hover {
        color:#69718a;
    }
    /*
    .btn-link {
        color: white;
        border-color: rgba(96, 185, 236, 0.2);
        background-color: rgba(9, 143, 221, 0.9) !important;
        font-size: small !important;
        height: 45px;
        font-weight: bold;
        padding-right: 5px;
        padding-left: 5px;
        text-decoration: none;
        box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -moz-box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .btn-link-delete,
    .btn-link-edit {
        height: 35px;
    }

    .btn-link-delete {
        background-color: rgba(192, 37, 37, 0.9) !important;
    }

    .btn-link-edit {
        background-color: rgba(9, 143, 221, 0.9) !important;
    }

    .btn-link:hover,
    .btn-link:active,
    .btn-link:focus {
        color: white;
        border-color: rgba(96, 185, 236, 0.2);
        background-color: rgba(4, 102, 168, 0.9) !important;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    }

    .card-header {
        background-color: white;
    }

    .card-title {
        font-size: large;
        font-weight: bold;
        padding: auto;
        color: rgba(9, 143, 221, 0.9);
    }


    .gig-text {
        font-size: medium;
        color: rgb(5, 5, 5);
    }
*/

    label {
        display: none;
    }

</style>

<div class="container-fluid">
    <br>
    <div class="row">

        <!-- gig cards -->
        <div class="col-sm-10 col-sx-12 mx-auto">
            <!--{% for gig in gigs.all %}-->
            {% csrf_token %}
            <div class="card">
                <div class=" card-body">

                    <div class="row justify-content-between">

                        <div class="col-sm-9 col-sx-12">

                            <!-- Title -->
                            <div class="row col-12">
                                <a class="card-title text-center" style="font-weight: bolder; text-decoration: none; color: #1f53fc;" href="{{ gig.get_absolute_url }}"><!-- {% url 'gig_detail' gig.id %} -->
                                    <strong>{{ gig.title }}</strong>
                                </a>
                            </div>

                            <p class="card-subtitle mb-2 py-1 text-center text-muted small">
                                Deadline: {{ gig.deadline|date:"F d, Y" }}
                            </p>
                            <p class=" card-subtitle mb-2 text-center text-muted small">
                                {{ gig.city }}, {{ gig.country.name }}
                            </p>
                        </div>

                        <div class="col-sm-3 col-xs-12">
                            <div class="col text-center py-1">
                                <img class="rounded-circle avatar" src="{{gig.author.picture.url }}">
                            </div>
                            <div class="col col-auto py-1 text-center">
                                <p style="font-size: smaller;">
                                    <a class="card-title text-small text-center" style="color: #1f53fc; text-decoration: none;" href="{{ network.network_profile_details }}"><!-- {% url 'gig_detail' gig.id %} -->
                                    <strong>{{gig.author.first_name}} {{gig.author.last_name}}</strong>
                                    </a>
                                <!--</p>
                                <p class="card-subtitle mb-2 text-muted small">--> <br>
                                    {{ gig.author.profession }}, {{ gig.author.company_name }}
                                </p>

                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <br>
            <!--{% endfor %}-->
        </div>
    </div>
    <br>
    <br>
    <br>
</div>
<br>

{% endblock %}