{% extends "base.html" %}
{% load static %}


{% block page_header %}
<!-- Nav tabs -->

<ul class="nav nav-tabs justify-content-evenly">
    <li class="active"><a href="#new-gig" data-toggle="tab">New</a></li>
    <li><a href="#saved-gig" data-toggle="tab">Saved</a></li>
    <li><a href="#apply-gig" data-toggle="tab">Applied</a></li>
    <li><a href="#hide-gig" data-toggle="tab">Hidden</a></li>
</ul>

<div class="tab-content" id="tabs">
    <div class="tab-pane" id="new-gig">Show new gigs:</div>
    <div class="tab-pane active" id="saved-gig">Your saved gigs:</div>
    <div class="tab-pane" id="apply-gig">Gigs you applied for:</div>
    <div class="tab-pane" id="hide-gig">Hidden gigs</div>

</div>

{% endblock %}

{% block content %}

{% for obj in qs %}

    <div class="container-content">
        <!-- gig cards -->

        <div class="row row-cols-6 row-cols-md-2 py-3"</div>
                <div class="card center" style="max-width: 740px;">
                    <div class="card-body">
                        <h4 class="card-title">{{ obj.title }}</h4><br>
                        <div>
                            <p class="card-subtitle mb-2 text-muted small""> Industry: &nbsp; {{ obj.industry }} </p>
                            <p class=" card-subtitle mb-2 text-muted small""> City: &nbsp; {{ obj.city }} </p>
                            <p class="card-subtitle mb-2 small""> Application deadline: &nbsp; {{ obj.deadline }} </p>
                        </div>

                        <br>
                        <div>
                            <p>{{ obj.gigdescription }}</p>
                            <p>
                                <a class=" btn btn-primary btn-sm" data-toggle="collapse" href="#collapseExample1" 
                                aria-expanded="false" aria-controls="collapseExample1">
                                More Information
                                </a>
                            </p>
                        </div>

                        <div class="collapse" id="collapseExample1">
                            <div class="card card-body">
                                {{ obj.extrainfo }}
                            </div>
                        </div>

                        <div class="my-3 py-3">
                            <h6 class="card-subtitle mb-2 text-muted small">Created by: &nbsp; {{ obj.author }}</h6>
                            <h6 class="card-subtitle mb-2 text-muted small">{{ obj.created }}</h6>
                            <h6 class="card-subtitle mb-2 text-muted small""> Updated: &nbsp; {{ obj.updated }} </h6>
                        </div>
    
                        <div class=" col text-center">
                            <a href="#" class="card-link">View</a>
                            <a href="#" class="card-link">Save</a>
                            <a href="#" class="card-link">Apply</a>
                            <a href="#" class="card-link">Hide</a>
                        </div>

                    </div>
                </div>
</div>
    </div>


{% endfor %}

{% endblock %}