{% extends "base.html" %}
{% load static %}


{% block page_header %}
<!-- Nav tabs -->

<ul class="nav nav-tabs justify-content-evenly">
    <li class="active"><a href="#new-gig" data-toggle="tab">New</a></li>
    <li><a href="#saved-gig" data-toggle="tab">Saved</a></li>
    <li><a href="#apply-gig" data-toggle="tab">Applied</a></li>
    <li><a href="#hide-gig" data-toggle="tab">Hidden</a></li>
</ul>

<div class="tab-content" id="tabs">
    <div class="tab-pane" id="new-gig">Show new gigs:</div>
    <div class="tab-pane active" id="saved-gig">Your saved gigs:</div>
    <div class="tab-pane" id="apply-gig">Gigs you applied for:</div>
    <div class="tab-pane" id="hide-gig">Hidden gigs</div>

</div>

{% endblock %}

{% block content %}

<div class="container container-content">

    {{ hello }}

    <div id="gigs">
        {% for obj in qs %}
        

    <!-- gig cards -->
    <div class="tab-container h-60 my-3 py-3">
        <div class="row">
            <div class="card" style="width: 46rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ obj.title }} <br></h5>
                    <h6 class="card-subtitle mb-2 text-muted">Created by: {{ obj.user }}, {{ obj.created }}</h6>
                    <p class="card-text"> <br>
                        {{ obj.updated }} <br>
                        {{ obj.liked }} <br></p>
                    <p>
                        <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample1" aria-expanded="false"
                            aria-controls="collapseExample1">
                            More Information
                        </a>

                    </p>
                    <div class="collapse" id="collapseExample1">
                        <div class="card card-body">
                            {{ obj.gig_description }} <br>
                        </div>
                    </div>

                    <div class="col">
                        <a href="#" class="card-link">View</a>
                        <a href="#" class="card-link">Save</a>
                        <a href="#" class="card-link">Apply</a>
                        <a href="#" class="card-link">Hide</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    {% endfor %}
</div>

</div>


{{hello}}
{% endblock %}