{% extends "base.html" %}
{% load static %}


{% block page_header %}
<!-- Nav tabs -->
<div class="container tab-container">
    <div class="row justify-content-md-center">
        <div class="col-12">
            <h3><strong>Gig</strong></h3>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
                        type="button" role="tab" aria-controls="home" aria-selected="true">New</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile"
                        type="button" role="tab" aria-controls="profile" aria-selected="false">Saved</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile"
                        type="button" role="tab" aria-controls="profile" aria-selected="false">Applied</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile"
                        type="button" role="tab" aria-controls="profile" aria-selected="false">Hidden</button>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="container container-content">

    <!-- gig cards -->
    <div class="container-fluid h-60 my-3 py-3">
        <div class="row">
            <div class="card" style="width: 46rem;">
                <div class="card-body">
                    <h5 class="card-title">Gig 1</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <p>
                        <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample1" aria-expanded="false"
                            aria-controls="collapseExample1">
                            More Information 
                        </a>
 
                    </p>
                    <div class="collapse" id="collapseExample1">
                        <div class="card card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente
                            ea proident.
                        </div>
                    </div>
                    <div class="col">
                        <a href="#" class="card-link">View</a>
                        <a href="#" class="card-link">Save</a>
                        <a href="#" class="card-link">Apply</a>
                        <a href="#" class="card-link">Hide</a>
                    </div>
                </div>
            </div>
            <div class="card" style="width: 46rem;">
                <div class="">
                    <h5 class="card-title">Gig 2</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <p>
                        <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" aria-expanded="false"
                            aria-controls="collapseExample">
                            More Information 
                        </a>
 
                    </p>
                    <div class="collapse" id="collapseExample">
                        <div class="card card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente
                            ea proident.
                        </div>
                    </div>
                    <div class="col">
                        <a href="#" class="card-link">View</a>
                        <a href="#" class="card-link">Save</a>
                        <a href="#" class="card-link">Apply</a>
                        <a href="#" class="card-link">Hide</a>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

{% endblock %}